<md-list class="ma-no-padding">
    <md-list-item ng-class="{'md-2-line': !$ctrl.dataPoint}" ng-click="$ctrl.newEventDetector($event)"
            ng-class="{'ma-list-selected': $ctrl.selected.isNew()}">
        <div ng-if="!$ctrl.dataPoint" class="md-list-item-text">
            <h3 ma-tr="ui.app.new"></h3>
            <p ma-tr="ui.eventDetectors.create"></p>
        </div>
        <span ng-if="$ctrl.dataPoint" ma-tr="ui.eventDetectors.create"></span>
        <md-button class="md-secondary md-icon-button" ng-click="$ctrl.newEventDetector($event)">
            <md-icon>add</md-icon>
        </md-button>
    </md-list-item>

    <md-list-item ng-repeat="eventDetector in $ctrl.eventDetectors | orderBy:'name' track by eventDetector.xid" ng-click="$ctrl.selectEventDetector(eventDetector)"
            ng-class="{'ma-list-selected': $ctrl.selected.xid === eventDetector.xid, 'md-2-line': !$ctrl.dataPoint}">
        <div ng-if="!$ctrl.dataPoint" class="md-list-item-text">
            <h3 ng-bind="eventDetector.description || eventDetector.name"></h3>
            <p ng-bind="eventDetector.sourceTypeName === 'DATA_POINT' ? eventDetector.dataPoint.formatLabel() : eventDetector.xid"></p>
        </div>
        <span ng-if="$ctrl.dataPoint" ng-bind="eventDetector.description || eventDetector.name"></span>
    </md-list-item>
</md-list>
