ma-ui-settings-page table.md-table td.md-cell {
	border: none;
}

ma-ui-settings-page table.md-table td.md-cell md-input-container {
	margin-top: 8px;
	margin-bottom: 8px;
	display: flex;
}

ma-ui-settings-page md-select.ma-theme-select .md-select-value .md-text,
.ma-theme-select-option .md-text {
    flex-grow: 1;
    display: flex;
}

ma-ui-settings-page .ma-date-formats-container > md-input-container {
    margin-bottom: 32px;
}

ma-ui-settings-page .md-button.ma-preview-theme[disabled] md-icon {
    color: var(--ma-accent);
}