ma-point-event-counts-table {
    flex-grow: 1;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

ma-point-event-counts-table .ma-virtual-repeat-table-container {
    flex: 1 0 auto;
    display: flex;
    overflow-x: auto;
}

ma-point-event-counts-table .ma-virtual-repeat-table {
    flex: 1 0 auto;
}

ma-point-event-counts-table .ma-empty-null {
    opacity: 0.5;
    font-style: italic;
}

ma-point-event-counts-table .ma-virtual-repeat-table-header md-input-container {
    width: 100%;
    margin: 0;
    padding: 0;
}

ma-point-event-counts-table .ma-virtual-repeat-table .ma-checkbox-column {
    flex: 0 0 32px;
    display: flex;
    justify-content: center;
}

ma-point-event-counts-table .ma-virtual-repeat-table .ma-checkbox-column md-checkbox {
    width: 20px;
    margin: 0;
}

ma-point-event-counts-table .ma-data-point-row {
    user-select: none;
}

ma-point-event-counts-table .ma-virtual-repeat-table-row md-checkbox {
    pointer-events: none;
}

ma-point-event-counts-table md-menu-bar {
    width: 32px;
    padding: 0;
}

md-menu-content.md-menu-bar-menu.md-dense.ma-data-point-selector {
    padding: 8px 0;
}

md-menu-content.md-menu-bar-menu.ma-data-point-selector.ma-checkbox-menu md-checkbox {
    margin: 0;
}

ma-point-event-counts-table .ma-virtual-repeat-table .ma-virtual-repeat-table-row > *.ma-message-column {
    white-space: unset;
}
     
ma-point-event-counts-table span.ma-message-cell.ma-truncated {
    white-space: nowrap;
}

ma-point-event-counts-table .ma-virtual-repeat-table .ma-virtual-repeat-table-row > *.ma-active-status-column {
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
}

ma-point-event-counts-table span.ma-active-status-cell {
    white-space: nowrap;
}

ma-point-event-counts-table a.ma-no-border {
	border: none;
}