<h1>Adaptive Layouts</h1>

<p>
    We have added several example layouts that demonstrate the power of Angular Material's
    <a href="https://material.angularjs.org/latest/layout/introduction" target="_blank">Adaptive Layout</a> API.
    With no need for complex CSS or media queries, and using just simple HTML attributes, you can create advanced flexbox layouts.
    There are many features to Angular Material's layout system including flex attributes, page size breakpoints, layout
    row/column, and layout  wrapping. It is worth visiting the official <a
    href="https://material.angularjs.org/latest/layout/introduction" target="_blank">documentation</a> to get the full benefit
    of having this powerful layout system available in your Mango pages.
</p>

<p>
    You can use these as starting points for a creating an adaptive and responsive layout within your pages. Click <code>New
    Page From Layout</code> to create a new page using the layout shown. You can then add in <code>Mango UI Components</code> to pull in and
    display data.
</p>


<div flex layout="row" layout-align="space-between" layout-fill layout-wrap>
    
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/threeCardA.png" alt="Three Card A Layout">
        <md-card-actions layout="row" layout-align="end center">
          <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/threeCardA.html'})" class="md-button">New Page From Layout</a>
        </md-card-actions>
    </md-card>
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/threeCardB.png" alt="Three Card B Layout">
        <md-card-actions layout="row" layout-align="end center">
           <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/threeCardB.html'})" class="md-button">New Page From Layout</a>
        </md-card-actions>
    </md-card>
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/fourCardC.png" alt="Four Card C Layout">
        <md-card-actions layout="row" layout-align="end center">
           <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/fourCardC.html'})" class="md-button">New Page From Layout</a>
        </md-card-actions>
    </md-card>
    
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/fourCardA.png" alt="Four Card A Layout">
        <md-card-actions layout="row" layout-align="end center">
          <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/fourCardA.html'})" class="md-button">New Page From Layout</a>
        </md-card-actions>
    </md-card>
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/fourCardB.png" alt="Four Card B Layout">
        <md-card-actions layout="row" layout-align="end center">
          <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/fourCardB.html'})" class="md-button">New Page From Layout</a>
        </md-card-actions>
    </md-card>
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/nineCard.png" alt="Nine Card Layout">
        <md-card-actions layout="row" layout-align="end center">
          <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/nineSquare.html'})" class="md-button">New Page From Layout</a>
        </md-card-actions>
    </md-card>
    
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/fourSquare.png" alt="Four Square Layout">
        <md-card-actions layout="row" layout-align="end center">
          <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/fourSquare.html'})" class="md-button">New Page From Layout</a>
        </md-card-actions>
    </md-card>
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/fourTop.png" alt="Four Top Layout">
        <md-card-actions layout="row" layout-align="end center">
          <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/fourTop.html'})" class="md-button">New Page From Layout</a>
        </md-card-actions>
    </md-card>
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/fiveCardA.png" alt="Five Card A Layout">
        <md-card-actions layout="row" layout-align="end center">
         <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/fiveCardA.html'})" class="md-button">New Page From Layout</a>
        </md-card-actions>
    </md-card>
    
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/fiveCardB.png" alt="Five Card B Layout">
        <md-card-actions layout="row" layout-align="end center">
          <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/fiveCardB.html'})" class="md-button">New Page From Layout</a>
        </md-card-actions>
    </md-card>
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/fiveCardC.png" alt="Five Card C Layout">
        <md-card-actions layout="row" layout-align="end center">
          <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/fiveCardC.html'})" class="md-button">New Page From Layout</a>
    </md-card>
    <md-card flex="30" flex-xs="100">
        <img src="layouts/thumbnails/fiveCardD.png" alt="Five Card D Layout">
        <md-card-actions layout="row" layout-align="end center">
          <a ui-sref="ui.settings.editPages({templateUrl: 'views/examples/layouts/fiveCardD.html'})" class="md-button">New Page From Layout</a>
        </md-card-actions>
    </md-card>
</div>