<h1 ma-tr="ui.dox.angular"></h1>

<p>
    The Mango UI module uses <a href="https://angularjs.org/" target="_blank">AngularJS</a> and <a
    href="https://material.angularjs.org/latest/" target="_blank">AngularJS Material Design</a> to make building dashboards easy
    using simple HTML-like markup. The aim is that you should not have to write any JavaScript. This page will give you a basic
    introduction to using AngularJS in your markup. Please see <a href="http://www.w3schools.com/angular/angular_examples.asp"
                                                                  target="_blank">W3 Schools</a> for more basic examples.
</p>

<p>
    Use <code ng-non-bindable>{{ variable }}</code> double curly braces to surround AngularJS expressions/variables that you want
    inserted into your page. This is called interpolation.
</p>

<p>
    Use <code>ng-init</code> to initialize your variables to any default value.
    Use the <code>ng-bind</code> attribute to one-way bind the contents of an element to a variable.
    Use the <code>ng-model</code> attribute to two-way bind a variable with an input.
    In this example <code>&lt;pre ng-bind="variableName | json"&gt;&lt;/pre&gt;</code> is used to output a predefined javascript object as
    json into the pre-formatted element.
</p>

<p>
    The rest of the example pages will introduce you to the <code>Mango UI Components</code> (also referred to as <code>
    directives</code>) that are available for you to use in your custom pages.
</p>

<ma-ui-dual-pane-editor>

<div layout="column" ng-init="myVar = 'Hello'; myObj = {property1: 'test', property2: 433.555}">
    <div>
        Using interpolation, your variable is {{myVar}}
    </div>
    <div>
        Using ng-bind, your variable is <span ng-bind="myVar"></span>
    </div>
    <br>

    <md-input-container>
        <label>Enter a number</label>
        <input type="number" ng-model="myNumber">
    </md-input-container>

    <div>Your number plus 10 is {{myNumber + 10}}.</div>
    <br>

    <h3>Output an object to the page as JSON:</h3>
    <pre ng-bind="myObj | json"></pre>
</div>

</ma-ui-dual-pane-editor>
