<h1 ma-tr="ui.dox.bars"></h1>

<p>
    This examples shows two different ways to create a bar to display the value of a data points.
    You can use an <a href="https://material.angularjs.org/latest/demo/progressLinear" target="blank">Angular Material
        Progress Linear</a> directive and pass the value to <code>ng-value</code>, or create your own using CSS and the <code>ng-style</code>
    directive.
</p>

<p>
    See API Documentation for <a ui-sref="ui.docs.ngMango.maGetPointValue"><code>&lt;ma-get-point-value&gt;</code></a>.
</p>

<ma-ui-dual-pane-editor>

<h3>Select numeric point and max value:</h3>
<div layout="row">
    <ma-filtering-point-list flex="75" ng-model="myPoint" data-type="NUMERIC" auto-init="true"></ma-filtering-point-list>
    <md-input-container flex="25">
        <label>Maximum value</label>
        <input type="number" ng-model="max" ng-init="max=1000">
    </md-input-container>
</div>
<br>

<ma-get-point-value point="myPoint"></ma-get-point-value>

<h3>Angular Material progress linear bar</h3>
<md-progress-linear md-mode="determinate" ng-value="myPoint.convertedValue / max * 100"
                    style="height:10px;"></md-progress-linear>
<br>

<h3>Custom horizontal bar</h3>
<div class="bar-display" ng-class="{'ma-point-disabled': !myPoint.enabled}">
    <div class="bar-display-fill" ng-style="{width: myPoint.convertedValue / max * 100 + '%'}" style=""></div>
    <div class="bar-display-text">{{myPoint.renderedValue}}</div>
</div>
<br>

<h3>Custom vertical bar</h3>
<div class="bar-display bar-display-vertical" ng-class="{'ma-point-disabled': !myPoint.enabled}">
    <div class="bar-display-fill" ng-style="{height: myPoint.convertedValue / max * 100 + '%'}" style=""></div>
    <div class="bar-display-text">{{myPoint.renderedValue}}</div>
</div>

</ma-ui-dual-pane-editor>
