<h1 ma-tr="ui.dox.datePresets"></h1>

<p>
    Use the <code>&lt;ma-date-range-picker&gt;</code> directive to insert a date range preset picker.
    This enables you to choose from a list of commonly used date ranges, such as <code>Today so far</code> or <code>Previous
    week</code>. You can set the <code>preset</code> to choose your default date range value.
    Set the <code>update-interval</code> attribute to have it update automatically.</p>

<p>
    Use the <code>&lt;ma-date-picker&gt;</code> directive to display a date/time picker that will open in a popup dialog box. Note
    that you can also add it as an attribute to an existing <code>&lt;input&gt;</code> tag.
</p>

<p>
    ou can link <code>&lt;ma-date-range-picker&gt;</code> and <code>&lt;ma-date-picker&gt;</code> by outputting <code>from</code>
    and <code>to</code> values from <code>&lt;ma-date-range-picker&gt;</code>,
    and inputing the values into <code>ng-model</code> attributes on <code>&lt;ma-date-picker&gt;</code>.
</p>

<p>
    See API Documentation for <a ui-sref="ui.docs.ngMango.maDatePicker"><code>&lt;ma-date-picker&gt;</code></a> and <a
    ui-sref="ui.docs.ngMango.maDateRangePicker"><code>&lt;ma-date-range-picker&gt;</code></a>.
</p>

<ma-ui-dual-pane-editor>

<div layout="row" layout-xs="column">
    <md-input-container flex>
        <label>Preset</label>
        <ma-date-range-picker from="from" to="to" preset="LAST_1_DAYS" update-interval="5 seconds"></ma-date-range-picker>
    </md-input-container>
    <md-input-container flex>
        <label>From date</label>
        <ma-date-picker ng-model="from"></ma-date-picker>
    </md-input-container>
    <md-input-container flex>
        <label>To date</label>
        <ma-date-picker ng-model="to"></ma-date-picker>
    </md-input-container>
</div>

<p>Alternatively use the date and time pickers individually</p>
<div layout="row">
    <mdp-date-picker mdp-placeholder="From date" mdp-open-on-click mdp-format="ll" ng-model="from"></mdp-date-picker>
    <mdp-time-picker mdp-placeholder="From time" mdp-open-on-click mdp-auto-switch="true" ng-model="from"
                     mdp-format="LTS"></mdp-time-picker>
</div>
<div layout="row">
    <mdp-date-picker mdp-placeholder="To date" mdp-open-on-click mdp-format="ll" ng-model="to"></mdp-date-picker>
    <mdp-time-picker mdp-placeholder="To time" mdp-open-on-click mdp-auto-switch="true" ng-model="to"
                     mdp-format="LTS"></mdp-time-picker>
</div>

<p>
    You have chosen a date range of {{ from | maMoment:'format':'ll LTS' }} to {{ to | maMoment:'format':'ll LTS' }}.
</p>

</ma-ui-dual-pane-editor>
