<h1 ma-tr="ui.app.eventsTable"></h1>

<p>
    This example shows you how to use <code>&lt;ma-events-table&gt;</code> to display a filterable table of events.
    A large amount of the markup below is for the dropdown controls for setting the filter options. Alternatively you can use
    <code>&lt;ma-events-table&gt;</code> and hard code the event filters as shown on the api doc for this component.
</p>

<p>
    Add <code>single-point</code> and <code>point-id</code> attributes to display events for just a single Data Point.
</p>

<p>
    See API Documentation for <a ui-sref="ui.docs.ngMango.maEventsTable"><code>&lt;ma-events-table&gt;</code></a>.
</p>

<ma-ui-dual-pane-editor>

<md-card>
    <md-toolbar class="md-whiteframe-1dp md-hue-3">
        <div class="md-toolbar-tools">
            <h2 flex>
                <span>Events Table</span>
            </h2>
            <div>
                <md-button class="md-raised md-primary md-hue-1" ng-init="eventType='any'"
                           ng-class="{ 'active md-accent': eventType === 'any' }" ng-click="eventType='any'">Any
                </md-button>
                <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': eventType === 'DATA_POINT' }"
                           ng-click="eventType='DATA_POINT'">Data Point
                </md-button>
                <md-button class="md-raised md-primary md-hue-1"
                           ng-class="{ 'active md-accent': eventType === 'DATA_SOURCE' }" ng-click="eventType='DATA_SOURCE'">
                    Data Source
                </md-button>
                <md-button class="md-raised md-primary md-hue-1" ng-class="{ 'active md-accent': eventType === 'SYSTEM' }"
                           ng-click="eventType='SYSTEM'">System
                </md-button>
            </div>
        </div>
    </md-toolbar>

    <md-card-actions layout="row" layout-align="start center" layout-wrap="">
        <md-input-container flex="">
            <label>Alarm Level</label>
            <md-select ng-model="alarmLevel" ng-init="alarmLevel='any'">
                <md-option value="any"><md-icon class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-all"></md-icon>Any</md-option>
                <md-option value="NONE"><md-icon class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-none"></md-icon>None</md-option>
                <md-option value="INFORMATION"><md-icon class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-information"></md-icon>Information</md-option>
                <md-option value="IMPORTANT"><md-icon class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-important"></md-icon>Important</md-option>
                <md-option value="WARNING"><md-icon class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-warning"></md-icon>Warning</md-option>
                <md-option value="URGENT"><md-icon class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-urgent">Urgent</md-icon></md-option>
                <md-option value="CRITICAL"><md-icon class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-critical"></md-icon>Critical</md-option>
                <md-option value="LIFE_SAFETY"><md-icon class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-life-safety"></md-icon>Safety</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="">
            <label>Active Status</label>
            <md-select ng-model="activeStatus" ng-init="activeStatus='any'">
                <md-option value="any">Any</md-option>
                <md-option value="active">Active</md-option>
                <md-option value="noRtn">No return</md-option>
                <md-option value="normal">Returned to normal</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="">
            <label>Acknowledged</label>
            <md-select ng-model="acknowledged" ng-init="acknowledged='any'">
                <md-option value="any">Any</md-option>
                <md-option ng-value="true">Acknowledged</md-option>
                <md-option ng-value="false">Unacknowledged</md-option>
            </md-select>
        </md-input-container>
    </md-card-actions>

    <ma-events-table event-type="eventType" alarm-level="alarmLevel" acknowledged="acknowledged" event-id="eventId"
                     active-status="activeStatus" limit="10" sort="'-alarmLevel'"></ma-events-table>
</md-card>

</ma-ui-dual-pane-editor>