<h1 ma-tr="ui.dox.filters"></h1>

<p>
    We can use <a href="https://docs.angularjs.org/guide/filter" target="_blank">AngularJS filters</a> to format interpolated
    values and manipulate values.
    Filters in the HTML always follow the <code ng-non-bindable>{{ expression | filter }}</code> syntax.
    The standard AngularJS filters are available such as <code>number</code> and <code>currency</code> as well as custom filters
    included with the UI module.
</p>

<p>
    Custom filters include <code>moment</code> and <code>duration</code> for using
    <a href="http://momentjs.com/" target="_blank">Moment.js</a> to manipulate dates and durations.
</p>

<p>
    See API Documentation for <a ui-sref="ui.docs.ngMangoFilters.moment"><code>moment</code></a> and <a
    ui-sref="ui.docs.ngMangoFilters.duration"><code>duration</code></a> filters.
</p>

<ma-ui-dual-pane-editor>

<ma-filtering-point-list ng-model="myPoint" auto-init="true"></ma-filtering-point-list>

<ma-get-point-value point="myPoint"></ma-get-point-value>

<p>
    The raw point value is {{myPoint.value}} at epoch timestamp {{myPoint.time}}.
</p>

<p>
    The formatted point value is {{myPoint.value | number:2}} at time {{myPoint.time | maMoment:'format':'ll LTS'}}.
</p>

<p ng-init="price=1234.565">
    The price is {{price | currency}}.
</p>

<p>
    The time now as an ISO formatted string is {{'now' | maMoment:'toISOString'}}.
</p>

<p ng-init="timeTaken=67223455">
    {{timeTaken}}ms is {{timeTaken|maDuration:'humanize'}}
</p>

<p>
    The first day of the month was a {{'now' | maMoment:'startOf':'month' | maMoment:'format':'dddd'}}.
</p>

<p>
    Three days from now is {{'now' | maMoment:'add':3:'days' | maMoment:'format':'LLL'}}.
</p>

</ma-ui-dual-pane-editor>
