<h1 ma-tr="ui.dox.gauges"></h1>

<p>
    <code>&lt;ma-gauge-chart&gt;</code> will display a gauge/dial chart. Several properties have been exposed via attributes
    on the component, allowing you to set colors and ranges of multiple bands, and style the arrow.
</p>

<p>
    You must give the gauge a width and height, and you must use <code>&lt;ma-get-point-value&gt;</code> to provide a point
    value to  <code>&lt;ma-gauge-chart&gt;</code>.
</p>

<p>
    See API Documentation for <a ui-sref="ui.docs.ngMango.maGaugeChart"><code>&lt;ma-gauge-chart&gt;</code></a>.
</p>

<ma-ui-dual-pane-editor>

<h3>Select numeric point:</h3>
<ma-filtering-point-list ng-model="myPoint" data-type="NUMERIC" auto-init="true"></ma-filtering-point-list>

<ma-get-point-value point="myPoint"></ma-get-point-value>

<div layout="row" layout-wrap>
    <div flex="50">
        <h3>Basic (defaults to 0-100)</h3>
        <ma-gauge-chart point="myPoint" style="width:100%; height:200px"></ma-gauge-chart>
    </div>
    <div flex="50">
        <h3>Set axis interval, start and end value</h3>
        <ma-gauge-chart point="myPoint" interval="10" start="-20" end="120" style="width:100%; height:200px"></ma-gauge-chart>
    </div>
    <div flex="50">
        <h3>Set color bands and style</h3>
        <ma-gauge-chart point="myPoint" start="-20" band-1-end="20" band-2-end="40" band-2-color="yellow" band-3-end="80"
        value-font-size="16"  value-offset="-50" tick-interval="10" arrow-inner-radius="30" arrow-alpha="0.7" axis-thickness="15"
        axis-alpha="0.1" style="width:100%; height:200px"></ma-gauge-chart>
    </div>
</div>

</ma-ui-dual-pane-editor>
