<h1 ma-tr="ui.dox.heatMap"></h1>

<p>The <code>&lt;ma-heat-map&gt;</code> component displays a heat map of data point values, useful for visualizing trends in point values over a large period of time.
A rollup of 15 minutes, 30 minutes or 1 hour should be used when obtaining point values for use with this component.</p>

<p>Adjust the date bar time period a long period such as 3 months for best results.</p>

<p>
    See API Documentation for <a ui-sref="ui.docs.ngMango.maHeatMap"><code>&lt;ma-heat-map&gt;</code></a> and <a
    ui-sref="ui.docs.ngMango.maPointValues"><code>&lt;ma-point-values&gt;</code></a>.
</p>

<ma-ui-dual-pane-editor>

<ma-filtering-point-list ng-model="point1" data-type="NUMERIC" auto-init="true"></ma-filtering-point-list>

<ma-point-values point="point1" values="point1Values" from="dateBar.from" to="dateBar.to" rollup="AVERAGE" rollup-interval="1 hours" rendered="true">
</ma-point-values>

<ma-heat-map style="width: 800px; height: 400px;" point-values="point1Values" auto-scale="true"></ma-heat-map>

</ma-ui-dual-pane-editor>
