<div layout="row" layout-wrap>
    <div flex="100">
        <md-checkbox ng-model="editor.eventHandler.interpolateCommands"><span ma-tr="eventHandlers.interpolateCommands"></span></md-checkbox>
    </div>
    <div flex="100" flex-gt-md="50" layout="row" layout-align="center center">
        <md-input-container flex>
            <label ma-tr="eventHandlers.activeCommand"></label>
            <input name="activeProcessCommand" ng-model="editor.eventHandler.activeProcessCommand">
            <div ng-messages="editor.form.activeProcessCommand.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="editor.form.activeProcessCommand.validationMessage"></div>
            </div>
        </md-input-container>
        <md-button class="md-icon-button" ng-click="$ctrl.runActiveCommand()">
            <md-tooltip md-direction="right" ma-tr="ui.eventHandlers.testCommand"></md-tooltip>
            <md-icon>playlist_play</md-icon>
        </md-button>
    </div>
    <md-input-container flex="100" flex-gt-md="50">
        <label ma-tr="eventHandlers.activeTimeout"></label>
        <input name="activeProcessTimeout" type="number" ng-model="editor.eventHandler.activeProcessTimeout">
        <div ng-messages="editor.form.activeProcessTimeout.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="editor.form.activeProcessTimeout.validationMessage"></div>
        </div>
    </md-input-container>
    <div flex="100" flex-gt-md="50" layout="row" layout-align="center center">
        <md-input-container flex>
            <label ma-tr="eventHandlers.inactiveCommand"></label>
            <input name="inactiveProcessCommand" ng-model="editor.eventHandler.inactiveProcessCommand">
            <div ng-messages="editor.form.inactiveProcessCommand.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="editor.form.inactiveProcessCommand.validationMessage"></div>
            </div>
        </md-input-container>
        <md-button class="md-icon-button" ng-click="$ctrl.runInactiveCommand()">
            <md-tooltip md-direction="right" ma-tr="ui.eventHandlers.testCommand"></md-tooltip>
            <md-icon>playlist_play</md-icon>
        </md-button>
    </div>
    <md-input-container flex="100" flex-gt-md="50">
        <label ma-tr="eventHandlers.inactiveTimeout"></label>
        <input name="inactiveProcessTimeout" type="number" ng-model="editor.eventHandler.inactiveProcessTimeout">
        <div ng-messages="editor.form.inactiveProcessTimeout.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="editor.form.inactiveProcessTimeout.validationMessage"></div>
        </div>
    </md-input-container>
</div>

<div class="command-response" ng-if="$ctrl.commandResponse">
    <pre>{{$ctrl.commandResponse}}</pre>
</div>