/* Stops the content of non-active tabs scrolling past on first load */ 
ma-event-handler-editor md-tab-content:not(.md-active) * {
	visibility: hidden;
}

ma-event-handler-editor .ma-dialog-actions > .md-button {
	margin: 0 4px;
}

ma-event-handler-process-editor .command-response {
    background-color: #272822;
    padding: 10px;
}
