<div class="ma-published-points-tab-header-actions">
    <md-button class="md-raised md-primary" ng-click="$ctrl.showDialog = {}">
        <md-icon>add</md-icon>
        <span ma-tr="ui.app.addPoints"></span>
    </md-button>
    <md-button class="md-raised md-primary md-warn" ng-click="$ctrl.removePoints($event)"
        ng-disabled="$ctrl.pointsToRemove.length === 0">
        <md-icon>delete</md-icon>
        <span ma-tr="ui.app.removeSelectedPoints"></span>
    </md-button>
    <span ma-tr="ui.publisher.pageXofX" ma-tr-args="[$ctrl.total]"></span>
</div>

<ma-publisher-points-table ma-form-exclude publisher="$ctrl.publisher" ng-model="$ctrl.pointsToRemove"></ma-publisher-points-table>

<div ng-if="$ctrl.bulkTask" class="md-padding ma-action-buttons">
    <div layout layout-align="center">
        <em>
            <span ng-bind="$ctrl.bulkTask.progress || 0"></span>% (<span ma-tr="ui.app.pointXofX"
                ma-tr-args="[$ctrl.bulkTask.position || 0, $ctrl.bulkTask.maximum || 0]"></span>)
        </em>
    </div>

    <md-progress-linear md-mode="determinate" ng-value="$ctrl.bulkTask.progress"></md-progress-linear>

    <md-button class="md-raised md-warn" ng-click="$ctrl.bulkTask.cancel()">
        <md-icon>cancel</md-icon>
        <span ma-tr="ui.app.cancelBulkEdit"></span>
    </md-button>
</div>

<ma-publisher-points-creator publisher="$ctrl.publisher" trigger-dialog="$ctrl.showDialog"></ma-publisher-points-creator>
