<ma-point-values point="$ctrl.dataPoint" values="$ctrl.pointValues" from="$ctrl.dateBar.from" to="$ctrl.dateBar.to"
    rendered="true"
    rollup="{{$ctrl.dateBar.rollupType}}"
    rollup-interval="{{$ctrl.dateBar.rollupIntervals}} {{$ctrl.dateBar.rollupIntervalPeriod}}"
    auto-rollup-interval="$ctrl.dateBar.autoRollup"
    simplify-tolerance="$ctrl.dateBar.simplifyTolerance">
</ma-point-values>

<ma-point-values point="$ctrl.dataPoint" values="$ctrl.latestPointValues" realtime="$ctrl.showCachedData"
                 rendered="true" latest="$ctrl.numValues" use-cache="$ctrl.showCachedData"
                 refresh="$ctrl.refreshTable"></ma-point-values>

<ma-point-statistics point="$ctrl.dataPoint" from="$ctrl.dateBar.from" to="$ctrl.dateBar.to" statistics="$ctrl.statsObj"></ma-point-statistics>

<div layout="row" layout-wrap class="data-point-details-page">
    <div flex="100" layout="column" layout-gt-md="row" class="ma-dpd-row-container">
        <div flex-gt-md="50" class="ma-dpd-point-value">
            <md-card>
                <md-toolbar class="md-whiteframe-1dp md-hue-3">
                    <div class="md-toolbar-tools">
                        <h2>
                          <span ng-bind="$ctrl.dataPoint.formatLabel()"></span>
                        </h2>
                    </div>
                </md-toolbar>
                <md-card-content flex layout="column" layout-align="space-between stretch">
                    <md-input-container class="ma-no-margin-top">
                        <ma-drop-down-button>
                            <span ng-bind="$ctrl.dataPoint.formatLabel()"></span>
                            <ma-drop-down create-on-init="false" class="ma-slide-down">
                                <ma-data-point-selector select-multiple="::false" ng-model="$ctrl.dataPoint" ng-change="$ctrl.pointChanged()"
                                    show-clear="false">
                                </ma-data-point-selector>
                            </ma-drop-down>
                        </ma-drop-down-button>
                    </md-input-container>
                    
                    <div layout="row" layout-wrap class="point-details">
                        <div flex="100" layout layout-align="start center">
                          <label flex="35" layout layout-align="end center">
                            <md-button class="md-icon-button force-read" ng-click="$ctrl.dataPoint.forceRead()">
                                <md-tooltip><span ma-tr="ui.app.forceRead"></span></md-tooltip>
                                <md-icon>refresh</md-icon>
                            </md-button>
                            <span><span ma-tr="ui.app.value"></span>:</span>
                          </label>
                          <div class="point-value" flex="65">
                            <ma-point-value point="$ctrl.dataPoint" flash-on-change="true" disable-event-popup="true"></ma-point-value>
                          </div>
                        </div>
                        
                        <label flex="35"><span ma-tr="ui.app.time"></span>:</label>
                        <div flex="65">
                            <ma-point-value display-type="dateTime" flash-on-change="true" same-day-date-time-format="timeSeconds" point="$ctrl.dataPoint"
                            hide-event-indicator="true"></ma-point-value>
                        </div>
                        
                        <label flex="35"><span ma-tr="ui.app.xid"></span>:</label>
                        <div flex="65" ng-bind="$ctrl.dataPoint.xid"></div>

                        <label flex="35"><span ma-tr="ui.app.tags"></span>:</label>
                        <div flex="65">
                            <div ng-repeat="(key, value) in $ctrl.dataPoint.tags"><span ng-bind="key"></span>=<span ng-bind="value"></span></div>
                        </div>
                        
                        <label flex="35"><span ma-tr="ui.app.dataSource"></span>:</label>
                        <div flex="65">
                            <a ng-bind="$ctrl.dataPoint.dataSourceName" ui-state="'ui.settings.dataSources'" ui-state-params="{xid: $ctrl.dataPoint.dataSourceXid}"></a>
                        </div>
                        
                        <label flex="35" ng-if="$ctrl.hasEditPermission()"><span ma-tr="pointEdit.detectors.eventDetectors"></span>:</label>
                        <div flex="65" ng-if="$ctrl.hasEditPermission()"><a ng-if="$ctrl.eventDetectors != null"
                            ma-tr="ui.eventDetectors.count" ma-tr-args="[$ctrl.eventDetectors.length]" ng-click="$ctrl.openDetectorDialog()"></a></div>
                    </div>
                    
                    <div layout="row">
                        <div flex layout>
                            <ma-set-point-value ng-if="$ctrl.User.current.hasPermission($ctrl.dataPoint.setPermission)"
                                point="$ctrl.dataPoint" flex></ma-set-point-value>
                        </div>
                        <md-button class="md-accent md-raised" ng-click="$ctrl.openEditDialog($ctrl.dataPoint)" ng-switch="$ctrl.hasEditPermission()">
                            <span ng-switch-when="true"><md-icon>edit</md-icon> <span ma-tr="ui.app.edit"></span></span>
                            <span ng-switch-default><md-icon>remove_red_eye</md-icon> <span ma-tr="ui.app.viewPoint"></span></span>
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        
        <div flex-gt-md="50" layout="column" class="ma-dpd-value-table">
            <md-card flex>
                <md-toolbar class="md-whiteframe-1dp md-hue-3">
                    <div class="md-toolbar-tools">
                        <h2 ma-tr="{{$ctrl.showCachedData ? 'ui.app.pointDetails.realtimeData' : 'ui.app.pointDetails.loggedData'}}"></h2>
                        <span flex></span>
                        <md-checkbox ng-model="$ctrl.showTableOptions">
                            <span ma-tr="ui.app.configure"></span>
                        </md-checkbox>
                    </div>
                </md-toolbar>
                <md-toolbar class="md-padding md-hue-2" ng-show="$ctrl.showTableOptions" layout layout-wrap layout-align="space-between center">
                    <md-switch ng-model="$ctrl.showCachedData" ng-change="$ctrl.updatePreferences()">
                        <span ma-tr="ui.app.pointDetails.useCache"></span>
                    </md-switch>
                    <span class="dpd-num-values">
                        <label ma-tr="ui.app.numberOfValues" for="ma-number-of-values"></label>
                        <md-input-container md-no-float>
                            <input id="ma-number-of-values" ng-model="$ctrl.numValues" type="number" ng-change="$ctrl.updatePreferences()">
                        </md-input-container>
                    </span>
                </md-toolbar>
                <md-table-container ng-init="myOrder='-timestamp'">
                    <table md-table class="ma-point-values-table">
                        <thead md-head md-order="myOrder">
                            <tr md-row>
                                <th md-column md-order-by="timestamp" ma-tr="ui.app.time"></th>
                                <th md-column md-order-by="value" ma-tr="ui.app.pointValue"></th>
                            </tr>
                        </thead>
                        <tbody md-body ng-if="$ctrl.latestPointValues">
                            <tr md-row ng-repeat="value in $ctrl.latestPointValues | orderBy: myOrder track by $index">
                                <td md-cell ng-bind="value.timestamp | maDate:'shortDateTimeSeconds'"></td>
                                <td md-cell>
                                <span ng-bind="value.rendered" ng-style="{color: $ctrl.dataPoint.getTextRenderer().render(value.value).color}"></span> <strong ng-if="value.annotation"><em>(<span ng-bind="value.annotation"></span>)</em></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-card>
        </div>
    </div>

    <div flex="100" layout="column" layout-gt-md="row" class="ma-dpd-row-container">
        <div flex-gt-md="50" class="ma-dpd-point-statistics">
            <md-card>
                <md-toolbar class="md-whiteframe-1dp md-hue-3">
                    <div class="md-toolbar-tools">
                        <h2><span ma-tr="ui.app.pointStatistics"></span></h2>
                    </div>
                </md-toolbar>
                <md-card-content>
                  <ma-statistics-table statistics="$ctrl.statsObj"></ma-statistics-table>
                </md-card-content>
            </md-card>
        </div>
        
        <div flex-gt-md="50" layout="column" class="ma-dpd-user-comments">
            <md-card flex>
                <md-toolbar class="md-whiteframe-1dp md-hue-3">
                    <div class="md-toolbar-tools">
                        <h2><span ma-tr="ui.app.userComments"></span></h2>
                        <div flex></div>
                        <md-button ng-disabled="!$ctrl.dataPoint" class="md-icon-button" ng-click="addNote($event)">
                            <md-icon>add</md-icon>
                            <md-tooltip><span ma-tr="notes.addNote"></span></md-tooltip>
                        </md-button>
                    </div>
                </md-toolbar>
                <ma-user-notes-table reference-id="$ctrl.dataPoint.id" comment-type="POINT" add-note="addNote"></ma-user-notes-table>
            </md-card>
        </div>
    </div>
    
    <div flex="100" class="ma-dpd-chart" ng-if="$ctrl.dataPoint.pointLocator.dataType !== 'ALPHANUMERIC'">
        <md-card>
            <md-toolbar class="md-whiteframe-1dp md-hue-3">
                <div class="md-toolbar-tools">
                    <h2 flex>
                          <span ma-tr="ui.app.pointDetails.chartTitle"></span>
                    </h2>
                    <md-select ng-model="$ctrl.chartType" aria-label="Chart Type">
                        <md-option value="smoothedLine" ma-tr="ui.app.smooth"></md-option>
                        <md-option value="line" ma-tr="ui.app.line"></md-option>
                        <md-option value="step" ma-tr="ui.app.step"></md-option>
                        <md-option value="column" ma-tr="ui.app.bar"></md-option>
                    </md-select>
                </div>
            </md-toolbar>
            <ma-serial-chart series-1-values="$ctrl.pointValues" series-1-point="$ctrl.dataPoint" series-1-type="{{$ctrl.chartType}}" legend="false" balloon="true" export="true">
            </ma-serial-chart>
        </md-card>
    </div>
    
    <div flex="100" class="ma-dpd-image-slider">
        <md-card>
            <md-toolbar class="md-whiteframe-1dp md-hue-3">
                <div class="md-toolbar-tools">
                    <h2 flex>
                          <span ma-tr="ui.app.pointEvents"></span>
                    </h2>
                </div>
            </md-toolbar>
            <ma-events-table point-id="$ctrl.dataPoint.id" limit="15" from="$ctrl.dateBar.from" to="$ctrl.dateBar.to" sort="'-activeTimestamp'" hide-link="DATA_POINT"></ma-events-table>
        </md-card>
    </div>
</div>

<ma-dialog show-dialog="$ctrl.showEditDialog" on-hide="$ctrl.editDialogClosed()" on-cancel="$ctrl.editDialogClosed()">
    <md-dialog flex="100" flex-gt-sm="80" flex-gt-md="65" flex-gt-lg="50" flex-gt-xl="30">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span ng-bind="$ctrl.editTarget.formatLabel()"></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$dialog.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content flex layout="column" class="ma-data-point-details-editor">
            <ma-data-point-editor flex="noshrink" layout="column" dynamic-height="!$dialog.fullscreen()"
                ng-model="$ctrl.editTarget" ng-change="$dialog.hide()" fixed-type="true">
            </ma-data-point-editor>
        </md-dialog-content>
    </md-dialog>
</ma-dialog>

<ma-dialog show-dialog="$ctrl.showDetectorDialog" on-hide="$ctrl.detectorDialogClosed()" on-cancel="$ctrl.detectorDialogClosed()">
    <md-dialog flex="100" flex-gt-sm="80" flex-gt-md="65" flex-gt-lg="50" flex-gt-xl="30">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span ma-tr="ui.eventDetectors.for" ma-tr-args="[$ctrl.dataPoint.formatLabel()]"></span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ui-sref="ui.help.eventDetectors">
                    <md-icon>help</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="$dialog.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="ma-data-point-details-event-detectors" flex layout="column">
            <ma-event-detector-layout data-point="$ctrl.dataPoint" ng-model="$ctrl.eventDetector" ng-change="$ctrl.detectorChanged()" on-query="$ctrl.eventDetectors = $items"></ma-event-detector-layout>
        </md-dialog-content>
    </md-dialog>
</ma-dialog>