<form name="$ctrl.form" novalidate>
    <div layout="column" ng-show="!$ctrl.autoVerifying" class="ma-login-form-container">
        <md-input-container class="ma-has-hint">
            <md-icon>code</md-icon>
            <label ma-tr="login.emailVerification.token"></label>
            <input name="token" ng-model="$ctrl.token" autofocus ma-autofocus tabindex="1"
                required md-no-asterisk ng-change="$ctrl.parseToken()" ma-jwt-input="{typ: 'emailverify'}">
            <div ng-messages="$ctrl.form.token.$error">
                <div ng-message="required" ma-tr="login.emailVerification.validation.tokenRequired"></div>
                <div ng-message="jwtParse" ma-tr="login.emailVerification.validation.unparsableToken"></div>
                <div ng-message="jwtClaims" ma-tr="login.emailVerification.validation.invalidClaims"></div>
                <div ng-message="jwtExpired" ma-tr="login.emailVerification.validation.expiredToken"></div>
                <div ng-message="server" ma-tr="login.emailVerification.validation.invalidToken" ma-tr-args="[$ctrl.serverErrors.invalidToken]"></div>
            </div>
            <div ng-if="$ctrl.claims" class="ma-hint" ma-tr="login.tokenExpiryMessage" ma-tr-args="[$ctrl.expiration, $ctrl.expirationDuration]"></div>
        </md-input-container>
        
        <p class="ma-default-font" ng-if="$ctrl.claims" ma-tr="login.emailVerification.updateMessage" ma-tr-args="[$ctrl.claims.u || '\u2014', $ctrl.claims.sub]"></p>
        <ma-now update-interval="1 SECONDS" on-change="$ctrl.updateExpiry($value)"></ma-now>

        <div ng-messages="$ctrl.serverErrors">
            <div ng-message="other" ma-tr="login.emailVerification.errorVerifying" ma-tr-args="[$ctrl.serverErrors.other]"></div>
        </div>
    </div>
    <div layout="row" layout-align="start center" class="ma-action-buttons" ng-show="!$ctrl.autoVerifying">
        <div ng-transclude="links" layout="column">
            <a ui-sref="login" ma-tr="login.loginPage" tabindex="3"></a>
        </div>
        <div flex></div>
        <md-button type="submit" ng-click="$ctrl.verifyToken()" tabindex="2"
            ma-tr=login.emailVerification.verifyToken class="md-accent md-raised" ng-disabled="$ctrl.disableButton">
        </md-button>
    </div>
</form>

<div ng-if="$ctrl.autoVerifying">
    <md-progress-linear class="md-accent"></md-progress-linear>
</div>