ma-file-store-browser {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

ma-file-store-browser .ma-file-selected {
    background-color: grey;
}

ma-file-store-browser .ma-file-store-browser-crumbs > span {
    font-size: 2.0rem;
}

ma-file-store-browser .ma-file-store-browser-crumbs md-checkbox.ma-checkbox-top-label {
    margin: 16px 0 0 0;
}

ma-file-store-browser .ma-file-store-browser-crumbs {
    margin-bottom: 20px;
}

ma-file-store-browser .ma-file-store-browser-crumbs label {
    height: 100%;
    width: 100%;
    display: block
}

ma-file-store-browser .ma-file-store-browser-files table.md-table thead.md-head > tr.md-row {
    height: 30px;
}

ma-file-store-browser .ma-file-store-browser-files table.md-table tbody td.md-cell {
    height: 40px;
}

ma-file-store-browser .ma-file-store-browser-files table.md-table tr td.md-cell:first-child,
ma-file-store-browser .ma-file-store-browser-files table.md-table tr th.md-column:first-child {
    width: 24px;
    padding: 0 5px !important;
}

ma-file-store-browser .ma-file-store-browser-files table.md-table tr td.md-cell:last-child,
ma-file-store-browser .ma-file-store-browser-files table.md-table tr th.md-column:last-child {
    width: 200px;
    padding: 0 !important;
}

ma-file-store-browser .ma-file-store-browser-files table.md-table tr td.md-cell .md-button {
    margin: 0 -4px;
}
ma-file-store-browser .ma-file-store-browser-files table.md-table tr td.md-cell .md-button:first-child {
    margin-left: 0;
}
ma-file-store-browser .ma-file-store-browser-files table.md-table tr td.md-cell .md-button:last-child {
    margin-right: 0;
}

ma-file-store-browser .ma-file-store-browser-preview {
    overflow: auto;
    width: 300px;
    padding-left: 16px;
}

@media (max-width: 959px) {
    ma-file-store-browser .ma-file-store-browser-preview {
        width: auto;
        height: 200px;
        padding-left: 0;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

ma-file-store-browser .ma-file-store-browser-preview img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

ma-file-store-browser .ma-file-store-browser-preview .ma-no-preview {
    padding: 10px;
    box-sizing: border-box;
    border: 1px dashed;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
}

ma-file-store-browser ma-file-store-browser > md-progress-linear.ng-hide:not(.ng-hide-animate) {
    display: block !important;
    visibility: hidden;
}

.ma-file-store-dialog {
    height: 90%;
}

@media (max-width: 959px) {
    .ma-file-store-dialog {
        height: 100%;
    }
}

ma-file-store-browser md-input-container.ma-engine-selector {
    margin: 0;
    width: 200px;
}

ma-file-store-browser pre.ma-script-response-text {
    margin-top: 16px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px;
    background-color: var(--ma-background);
    color: var(--ma-background-contrast);
}
