<div class="ma-margin-bottom">
	<md-button class="md-raised" ng-click="$ctrl.doAction($event, 'sqlBackup')"><span ma-tr="systemSettings.backupNow"></span></md-button>
</div>

<div class="ma-margin-bottom" layout layout-align="start center">
	<md-input-container flex flex-gt-sm="50" flex-gt-lg="30">
		<label ma-tr="ui.app.selectFileToRestore"></label>
		<md-select ng-model="selectedBackup" md-on-open="$ctrl.getBackupFiles()">
			<md-option ng-value="undefined"><em ma-tr="systemSettings.noBackupSelected"></em></md-option>
			<md-option ng-repeat="file in $ctrl.backupFiles" ng-value="file" ng-bind="file"></md-option>
		</md-select>
	</md-input-container>

	<md-button class="md-raised md-warn md-hue-2" ng-disabled="!selectedBackup" ng-click="$ctrl.doAction($event, 'sqlRestore', {filename: selectedBackup})">
		<span ma-tr="systemSettings.restoreDatabase"></span>
	</md-button>
</div>

<div layout="column" layout-align="start start">
    <ma-system-setting-editor label-tr="systemSettings.backupEnable" key="databaseBackupEnabled" type="BOOLEAN" input-type="checkbox" on-value-changed="databaseBackupEnabled = $value"></ma-system-setting-editor>
</div>

<div layout layout-wrap ng-show="databaseBackupEnabled">
  <ma-system-setting-editor flex="100" flex-gt-md="50" label-tr="systemSettings.backupLastSuccessfulRun" key="databaseBackupLastSuccessfulRun" ng-disabled="true"></ma-system-setting-editor>
  <ma-system-setting-editor flex="100" flex-gt-md="50" label-tr="systemSettings.backupLocation" key="databaseBackupFileLocation"></ma-system-setting-editor>
  <div flex="100" flex-gt-md="50" layout>
      <ma-system-setting-editor label-tr="systemSettings.backupFrequency" key="databaseBackupPeriods" type="INTEGER"></ma-system-setting-editor>
      <ma-system-setting-editor key="databaseBackupPeriodType" input-type="timeperiodtype"></ma-system-setting-editor>
  </div>
  <div flex="100" flex-gt-md="50" layout>
      <ma-system-setting-editor label-tr="systemSettings.backupTimeHour" key="databaseBackupHour" type="INTEGER"></ma-system-setting-editor>
      <ma-system-setting-editor label-tr="systemSettings.backupTimeMinute" key="databaseBackupMinute" type="INTEGER"></ma-system-setting-editor>
  </div>
  <div flex="100" flex-gt-md="50" layout>
      <ma-system-setting-editor label-tr="systemSettings.backupFileCount" key="databaseBackupFileCount" type="INTEGER"></ma-system-setting-editor>
  </div>
</div>
