<form name="$ctrl.form" novalidate>
	<div layout="column">
        <p class="ma-default-font" ng-if="$ctrl.credentialsExpired" ma-tr="login.credentialsExpired"></p>
        <md-input-container ng-if="!$ctrl.credentialsExpired" class="md-icon-float md-block">
          <label for="username" ma-tr="login.userId"></label>
          <md-icon>person</md-icon>
          <input id="username" name="username" ng-model="$ctrl.username" type="text" tabindex="1" required ma-autofocus="!$ctrl.credentialsExpired" md-no-asterisk
                aria-label="{{'login.userId'|maTr}}" ng-change="$ctrl.resetServerErrors()">
          <div ng-messages="$ctrl.form.username.$error">
            <div ng-message="required" ma-tr="login.validation.noUsername"></div>
            <div ng-message="badCredentials" ng-bind="$ctrl.serverError.data.localizedMessage"></div>
          </div>
        </md-input-container>
        <md-input-container ng-if="!$ctrl.credentialsExpired" class="md-icon-float md-block">
          <label for="password" ma-tr="login.password"></label>
          <md-icon>vpn_key</md-icon>
          <input id="password" name="password" ng-model="$ctrl.password" type="password" tabindex="2" required md-no-asterisk
                aria-label="{{'login.password'|maTr}}" ng-change="$ctrl.resetServerErrors()">
          <div ng-messages="$ctrl.form.password.$error">
            <div ng-message="required" ma-tr="login.validation.noPassword"></div>
            <div ng-message="badCredentials" ng-bind="$ctrl.serverError.data.localizedMessage"></div>
          </div>
        </md-input-container>
		<md-input-container class="md-icon-float md-block">
            <md-icon>vpn_key</md-icon>
	        <label for="newPassword" ma-tr="login.newPassword"></label>
	        <input id="newPassword" name="newPassword" ng-model="$ctrl.newPassword" type="password" ma-autofocus="$ctrl.credentialsExpired" tabindex="3"
                required md-no-asterisk aria-label="{{'login.newPassword'|maTr}}" ng-change="$ctrl.resetServerErrors()">
            <div ng-messages="$ctrl.form.newPassword.$error">
                <div ng-message="required" ma-tr="login.validation.required"></div>
                <div ng-message="passwordChangeError" ng-bind="$ctrl.serverError.data.localizedMessage"></div>
            </div>
	    </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <md-icon>vpn_key</md-icon>
            <label for="confirmNewPassword" ma-tr="login.confirmNewPassword"></label>
            <input id="confirmNewPassword" name="confirmNewPassword" ng-model="$ctrl.confirmNewPassword" type="password" tabindex="4"
                required md-no-asterisk aria-label="{{'login.confirmNewPassword'|maTr}}" ng-change="$ctrl.resetServerErrors()" ng-pattern="$ctrl.regExpEscape($ctrl.newPassword)">
            <div ng-messages="$ctrl.form.confirmNewPassword.$error">
                <div ng-message="required" ma-tr="login.validation.required"></div>
                <div ng-message=pattern ma-tr="login.validation.passwordsDoNotMatch"></div>
            </div>
        </md-input-container>
	</div>
	<div layout="row" layout-align="start center" class="ma-action-buttons">
        <div ng-transclude="links" layout="column">
            <a ui-sref="login" ma-tr="login.loginPage" tabindex="6"></a>
        </div>
        <div flex></div>
        <md-button type="submit" ng-click="$ctrl.changePassword()" tabindex="5"
            ma-tr="login.changePassword" class="md-accent md-raised"
            aria-label="{{'login.changePassword'|maTr}}" ng-disabled="$ctrl.disableButton">
        </md-button>
    </div>
</form>