<div ng-form="$ctrl.form" ma-validation-messages="$ctrl.validationMessages" novalidate>
    <div layout layout-align="space-between start" layout-wrap class="ma-inputs-container">
        <md-input-container flex="100">
            <md-icon>label</md-icon>
            <label ma-tr="common.xid"></label>
            <input name="xid" ng-model="$ctrl.role.xid" required ng-disabled="$ctrl.disabled">
            <div ng-messages="$ctrl.form.xid.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="$ctrl.form.xid.validationMessage"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100">
            <md-icon>label</md-icon>
            <label ma-tr="common.name"></label>
            <input name="name" ng-model="$ctrl.role.name" required ng-disabled="$ctrl.disabled">
            <div ng-messages="$ctrl.form.name.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="$ctrl.form.name.validationMessage"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100">
            <md-icon>group</md-icon>
            <label ma-tr="roles.inheritedRoles"></label>
            <ma-drop-down-button ng-disabled="$ctrl.disabled">
                <span ng-bind="$ctrl.role.formatInheritedRoles()"></span>
                <ma-drop-down class="ma-role-editor-role-selector ma-full-screen-centered">
                    <ma-role-selector name="inherited" ma-format-array="{xid: $item}" ma-parse-array="$item.xid"
                                      ng-model="$ctrl.role.inherited"
                                      ng-multiple="::true"
                                      ng-disabled="$ctrl.disabled"
                                      disabled-options="::['user', 'anonymous']"
                                      ma-configure-input-container></ma-role-selector>
                </ma-drop-down>
            </ma-drop-down-button>
            <div ng-messages="$ctrl.form.inherited.$error">
                <div ng-message="validationMessage" ng-bind="$ctrl.form.inherited.validationMessage"></div>
            </div>
        </md-input-container>
    </div>

    <div class="ma-action-buttons">
        <md-button class="md-raised md-primary" type="submit" ng-click="$ctrl.save($event)"
                   ng-disabled="$ctrl.disabled || !$ctrl.role || $ctrl.saving || $ctrl.deleting">
            <md-icon>save</md-icon> <span ma-tr="common.save"></span>
        </md-button>
        <md-button class="md-raised" ng-click="$ctrl.revert($event)"
                   ng-disabled="$ctrl.disabled || !$ctrl.role || $ctrl.saving || $ctrl.deleting || !$ctrl.form.$dirty">
            <md-icon>undo</md-icon> <span ma-tr="ui.app.revert"></span>
        </md-button>
        <md-button class="md-raised md-warn" ng-click="$ctrl.remove($event)"
                   ng-disabled="$ctrl.disabled || !$ctrl.role || $ctrl.saving || $ctrl.deleting || $ctrl.role.isNew()">
            <md-icon>delete</md-icon> <span ma-tr="common.delete"></span>
        </md-button>
    </div>
</div>
