<form name="$ctrl.resetForm" novalidate>
	<div layout="column" class="ma-login-form-container">
        <div ng-show="$ctrl.showTokenInput || $ctrl.resetForm.resetToken.$invalid">
            <md-input-container class="md-icon-float md-block">
              <label for="resetToken" ma-tr="login.resetToken"></label>
              <md-icon>code</md-icon>
              <input id="resetToken" name="resetToken" ng-model="$ctrl.resetToken" autofocus ma-autofocus tabindex="1"
                    required md-no-asterisk aria-label="{{'login.resetToken'|maTr}}" ng-change="$ctrl.parseToken()" ma-jwt-input="{typ: 'pwreset'}">
              <div ng-messages="$ctrl.resetForm.resetToken.$error">
                <div ng-message="required" ma-tr="login.validation.noResetToken"></div>
                <div ng-message="jwtClaims" ma-tr="login.validation.invalidResetToken"></div>
                <div ng-message="jwtExpired" ma-tr="login.validation.resetTokenExpired"></div>
                <div ng-message="serverValid" ma-tr="login.validation.invalidResetToken"></div>
              </div>
            </md-input-container>
        </div>
        
	    <md-input-container class="md-icon-float md-block">
          <label for="password" ma-tr="login.newPassword"></label>
          <md-icon>vpn_key</md-icon>
	      <input id="password" name="password" ng-model="$ctrl.newPassword" type="password" minlength="8" tabindex="2"
                required md-no-asterisk aria-label="{{'login.password'|maTr}}">
	      <div ng-messages="$ctrl.resetForm.password.$error">
	        <div ng-message="required" ma-tr="login.validation.noPassword"></div>
            <div ng-message="minlength" ma-tr="login.validation.minLength" ma-tr-args="[8, $ctrl.resetForm.password.$viewValue.length]"></div>
	      </div>
	    </md-input-container>
        
        <div ng-show="$ctrl.newPassword">
            <md-input-container class="md-icon-float md-block">
              <label for="confirmPassword" ma-tr="login.confirmPassword"></label>
              <md-icon>vpn_key</md-icon>
              <input id="confirmPassword" name="confirmPassword" ng-model="$ctrl.confirmPassword" type="password" tabindex="3"
                    md-no-asterisk aria-label="{{'login.confirmPassword'|maTr}}"
                    ng-pattern="$ctrl.regExpEscape($ctrl.newPassword)" ng-required="!!$ctrl.newPassword">
              <div ng-messages="$ctrl.resetForm.confirmPassword.$error">
                <div ng-message="required" ma-tr="login.validation.noConfirmPassword"></div>
                <div ng-message="pattern" ma-tr="login.validation.wrongConfirmPassword"></div>
              </div>
            </md-input-container>
        </div>
        
        <ma-now output="timeNow" update-interval="1 SECONDS"></ma-now>
        <p class="ma-default-font" ng-if="$ctrl.claims" style="margin-bottom: 10px;" ma-tr="login.resetMessage"
            ma-tr-args="[$ctrl.username, ($ctrl.claims.exp * 1000 | maMoment:'format':'LT z'), ($ctrl.claims.exp * 1000 - timeNow.valueOf() | maDuration:'humanize':true)]"></p>

	</div>
	<div layout="row" layout-align="start center" class="ma-action-buttons">
        <div ng-transclude="links" layout="column">
            <a ui-sref="login" ma-tr="login.loginPage" tabindex="5"></a>
        </div>
        <div flex></div>
        <md-button type="submit" ng-click="$ctrl.doReset()" tabindex="4"
            ma-tr="login.reset" class="md-accent md-raised"
            aria-label="{{'login.reset'|maTr}}" ng-disabled="$ctrl.disableButton">
        </md-button>
    </div>
</form>