<md-progress-linear ng-if="$ctrl.queryPromise"></md-progress-linear>

<md-list class="ma-no-padding ma-no-text-overflow">
    <md-list-item ng-if="$ctrl.showNew && !$ctrl.filter && $ctrl.User.current.hasSystemPermission('permissionDatasource')" class="md-2-line"
            ng-click="$ctrl.createNew($event)" ng-class="{'ma-list-selected': $ctrl.selected.isNew()}">
        <div class="md-list-item-text">
            <h3 ma-tr="ui.app.new"></h3>
            <p ma-tr="dsList.createDataSource"></p>
        </div>
        <md-button class="md-secondary md-icon-button" ng-click="$ctrl.createNew($event)">
            <md-icon>add</md-icon>
        </md-button>
    </md-list-item>

    <md-list-item class="md-2-line" ng-repeat="item in $ctrl.items track by item.xid"
            ng-class="{'ma-list-selected': $ctrl.selected.xid === item.xid}"
            ng-click="$ctrl.setViewValue(item)">
        <div class="md-list-item-text">
            <h3 ng-bind="item.name"></h3>
            <p><span ng-bind="item.description"></span><span ng-if="item.connectionDescription"> &mdash; <span ng-bind="item.connectionDescription"></span></span></p>
        </div>
        <md-switch ng-if="$ctrl.showEnableSwitch && !($ctrl.hideSwitchOnSelected && $ctrl.selected.xid === item.xid)" ng-model="item.isEnabled"
            ng-class="[{'ma-throb-opacity': item.$enableToggling}, $ctrl.MA_LIFECYCLE_STATES[item.lifecycleState].class]"
            ng-disabled="item.$enableToggling">
        </md-switch>
    </md-list-item>
    
    <md-list-item ng-if="!$ctrl.items.length && !$ctrl.queryPromise">
        <em ma-tr="dsList.emptyList"></em>
    </md-list-item>
</md-list>