<md-input-container>
    <label ng-bind="$ctrl.label"></label>
    <ma-drop-down-button>
        <span ng-bind="$ctrl.displayText({$point: $ctrl.selectedItem})"></span>
        <ma-drop-down auto-focus="::false" class="ma-full-screen-centered" ng-disabled="$ctrl.disabled">
            <ma-option-list ma-form-exclude ng-disabled="$ctrl.disabled"
                            ng-model="$ctrl.selectedItem" ng-change="$ctrl.pointListChanged()"
                            items="$ctrl.querySearch($filter)" ma-configure-input-container>
                <ma-option ng-value="null" ng-if="$ctrl.allowClear && !$filter">
                    <em class="ma-ellipsis" ma-tr="ui.app.clear"></em>
                </ma-option>
                <ma-option ng-repeat="point in $items track by point.xid" ng-value="point">
                    <span class="ma-ellipsis" md-highlight-text="$filter" md-highlight-flags="ig">{{$ctrl.listText({$point: point})}}</span>
                </ma-option>
            </ma-option-list>
        </ma-drop-down>
    </ma-drop-down-button>
    <div ng-messages="$ctrl.ngModelCtrl.$error">
        <div ng-message="required" ma-tr="validate.required"></div>
        <div ng-message="validationMessage" ng-bind="$ctrl.ngModelCtrl.validationMessage"></div>
    </div>
</md-input-container>