<div class="input-group">
	<input ng-if="$ctrl.inputType === 'numeric'" type="number" step="{{$ctrl.step}}"
		ng-model="$ctrl.inputValue" class="form-control"
		ng-disabled="!$ctrl.point.pointLocator.settable || !$ctrl.point.enabled"
		ma-enter="$ctrl.point.setValue($ctrl.inputValue)">
	<input ng-if="$ctrl.inputType === 'text'" type="text"
		ng-model="$ctrl.inputValue" class="form-control"
		ng-disabled="!$ctrl.point.pointLocator.settable || !$ctrl.point.enabled"
		ma-enter="$ctrl.point.setValue($ctrl.inputValue)">
	<select ng-if="$ctrl.inputType === 'select'"
		ng-options="option.id as option.label for option in $ctrl.options"
		ng-model="$ctrl.inputValue" class="form-control"
        ng-change="$ctrl.selectChanged()"
		ng-disabled="!$ctrl.point.pointLocator.settable || !$ctrl.point.enabled">
	</select>
	<span class="input-group-btn" ng-show="$ctrl.showButton">
      <button ng-disabled="!$ctrl.point.pointLocator.settable || $ctrl.result.pending || !$ctrl.point.enabled" ng-click="$ctrl.result=$ctrl.point.setValueResult($ctrl.inputValue)" ma-tr="common.set"
      	class="btn btn-default" ng-class="{'set-pending': $ctrl.result.pending, 'set-success': $ctrl.result.success, 'set-error': $ctrl.result.error}"></button>
    </span>
</div>