<form name="$ctrl.form" ma-validation-messages="$ctrl.validationMessages">
    <div layout="column">
        <md-input-container>
            <label ma-tr="common.name"></label>
            <input name="name" ng-model="$ctrl.storeItem.name" required>
            <div ng-messages="$ctrl.form.name.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="$ctrl.form.name.validationMessage"></div>
            </div>
        </md-input-container>
        
        <md-input-container>
            <label ma-tr="common.xid"></label>
            <input name="xid" ng-model="$ctrl.storeItem.xid" required ng-disabled="!$ctrl.storeItem.isNew()">
            <div ng-messages="$ctrl.form.xid.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="$ctrl.form.xid.validationMessage"></div>
            </div>
        </md-input-container>
    </div>

    <ma-permission-editor-container>
        <ma-permission-editor name="readPermission" ng-model="$ctrl.storeItem.readPermission">
            <span ma-tr="ui.jsonStore.permission.read"></span>
        </ma-permission-editor>
        <ma-permission-editor name="editPermission" ng-model="$ctrl.storeItem.editPermission">
            <span ma-tr="ui.jsonStore.permission.edit"></span>
        </ma-permission-editor>
    </ma-permission-editor-container>
    
    <ma-ace-editor mode="json" name="jsonData" ng-model="$ctrl.storeItem.jsonData" ng-model-options="{debounce: 500}" ma-json-model ma-json-model-pretty="4"></ma-ace-editor>
    <div ng-if="$ctrl.form.jsonData.$error.jsonParseError" class="ma-error-text" ng-bind="$ctrl.form.jsonData.jsonParseError"></div>
    
    <div layout>
        <md-button class="md-raised md-primary" ng-click="$ctrl.saveItem($event)" ng-disabled="!$ctrl.storeItem.isNew() && $ctrl.form.$pristine">
            <md-icon>save</md-icon>
            <span ma-tr="common.save"></span>
        </md-button>
        <md-button class="md-raised" ng-click="$ctrl.revertItem($event)" ng-disabled="$ctrl.form.$pristine">
            <md-icon>undo</md-icon>
            <span ma-tr="ui.app.revert"></span>
        </md-button>
        <md-button class="md-raised md-warn" ng-click="$ctrl.deleteItem($event)" ng-disabled="$ctrl.storeItem.isNew()">
            <md-icon>delete</md-icon>
            <span ma-tr="common.delete"></span>
        </md-button>
        <md-button ng-click="$ctrl.showRevisionDialog($event)" class="md-raised" ng-disabled="$ctrl.storeItem.isNew()">
            <md-icon>history</md-icon>
            <span ma-tr="ui.app.history"></span>
        </md-button>
    </div>
</form>
