<div layout-wrap layout="column" layout-gt-md="row">
    <div flex layout layout-wrap layout-align="center center" layout-align-gt-md="start center">
    	<md-button class="md-raised md-primary" ui-sref=".upgrade"><md-icon>update</md-icon>&nbsp;<span ma-tr="modules.versionCheck"></span></md-button>
        <md-button class="md-raised md-primary" ui-sref=".offlineUpgrade"><md-icon>update</md-icon>&nbsp;<span ma-tr="ui.app.offlineUpgrades"></span></md-button>
    
    	<md-button class="md-raised md-warn" ng-click="$ctrl.restart()"><md-icon>autorenew</md-icon>&nbsp;<span ma-tr="modules.restart"></span></md-button>
    	<form action="{{::$ctrl.storeUrl}}" method="post" target="mangoStore" enctype="application/x-www-form-urlencoded">
    		<md-button class="md-raised md-accent" type="sumbit" ng-disabled="!$ctrl.storeUrl"><md-icon>store</md-icon>&nbsp;<span ma-tr="modules.update"></span></md-button>
    		<textarea style="display:none;" name="orderJson" ng-model="$ctrl.updateLicenseStr"></textarea>
    		<input type="hidden" name="redirect" ng-value="$ctrl.pageUrl">
    	</form>
    	<md-button class="md-raised md-accent" ng-click="$ctrl.downloadLicense($event)"><md-icon>cloud_download</md-icon>&nbsp;<span ma-tr="modules.downloadLicense"></span></md-button>
    </div>
    
    <div layout layout-align="center center" layout-align-gt-md="end center">
        <div class="ma-guid-and-release-channel">
            <div><span ma-tr="modules.storeUrl"></span>:&nbsp;<strong ng-bind="$ctrl.coreModule.storeUrl"></strong></div>
            <div><span ma-tr="modules.guid"></span>:&nbsp;<strong ng-bind="$ctrl.coreModule.guid"></strong></div>
            <div ng-switch="$ctrl.coreModule.upgradeVersionState">
                <span ma-tr="systemSettings.upgradeVersionState"></span>:&nbsp;
                <strong ng-switch-when="0" ma-tr="systemSettings.upgradeState.development"></strong>
                <strong ng-switch-when="1" ma-tr="systemSettings.upgradeState.alpha"></strong>
                <strong ng-switch-when="2" ma-tr="systemSettings.upgradeState.beta"></strong>
                <strong ng-switch-when="3" ma-tr="systemSettings.upgradeState.releaseCandidate"></strong>
                <strong ng-switch-when="4" ma-tr="systemSettings.upgradeState.production"></strong>
            </div>
        </div>
    </div>
</div>

<div layout="row" layout-wrap layout-align="start stretch">
	<div flex="100" flex-gt-xs="50" flex-gt-md="33" flex-gt-lg="25" layout="column">
	    <md-card flex class="ma-module-info">
	      <md-card-title flex="none">
	        <md-card-title-text>
	          <span class="md-headline" layout>
	            <span flex ng-bind="$ctrl.coreModule.name"></span>
	          </span>
	          <span class="md-subhead" ng-bind="$ctrl.coreModule.description"></span>
	        </md-card-title-text>
	      </md-card-title>
	      <md-card-content flex>
	        <p ng-if="$ctrl.coreModule.longDescription" ng-bind="$ctrl.coreModule.longDescription"></p>
	        <div layout="row">
	          <span flex="30" ma-tr="modules.version"></span>
	          <span flex="70" ng-bind="$ctrl.coreModule.version"></span>
	        </div>
	        <div layout="row" ng-if="$ctrl.coreModule.buildNumber > 0">
	          <span flex="30" ma-tr="modules.buildNumber"></span>
	          <span flex="70" ng-bind="$ctrl.coreModule.buildNumber"></span>
	        </div>
              <div layout="row">
                  <span flex="30" ma-tr="modules.buildDate"></span>
                  <span flex="70" ng-bind="$ctrl.coreModule.buildDate | maDate:'dateTime'" ng-if="$ctrl.coreModule.buildDate"></span>
              </div>
              <div layout="row">
                  <span flex="30" ma-tr="modules.upgradedDate"></span>
                  <span flex="70" ng-bind="$ctrl.coreModule.upgradedDate | maDate:'dateTime'"></span>
              </div>
	        <div layout="row">
	          <span flex="30" ma-tr="ui.app.license"></span>
	          <span ng-if="$ctrl.coreModule.licenseType" flex="70" class="green-color"><md-icon class="green-color">done</md-icon> <span ng-bind="$ctrl.coreModule.licenseType"></span></span>
	          <span ng-if="!$ctrl.coreModule.licenseType" flex="70" md-colors="::{color: 'warn'}"><md-icon md-colors="::{color: 'warn'}">warning</md-icon> <span ma-tr="modules.unlicenced"></span></span>
	        </div>
            <div layout="row">
              <span flex="30" ma-tr="ui.app.moduleSignature"></span>
              <span ng-if="$ctrl.coreModule.signed" flex="70" class="green-color"><md-icon class="green-color">verified_user</md-icon> <span ma-tr="ui.app.moduleSigned"></span></span>
              <span ng-if="!$ctrl.coreModule.signed" flex="70" md-colors="::{color: 'warn'}"><md-icon md-colors="::{color: 'warn'}">warning</md-icon> <span ma-tr="ui.app.moduleUnsigned"></span></span>
            </div>
	        <div layout="row">
	          <span flex="30" ma-tr="modules.vendor"></span>
	          <span flex="70"><a ng-bind="$ctrl.coreModule.vendor" ng-href="{{$ctrl.coreModule.vendorUrl}}" target="_blank"></a></span>
	        </div>
	      </md-card-content>
	    </md-card>
	</div>
  <div flex="100" flex-gt-xs="50" flex-gt-md="33" flex-gt-lg="25" layout="column" ng-repeat="module in $ctrl.modules track by module.name" >
      <md-card flex md-colors="{background: $ctrl.bgColor(module)}" class="ma-module-info">
        <md-card-title flex="none">
          <md-card-title-text>
            <span class="md-headline" layout>
	            <span flex ng-bind="module.name"></span>
	            <md-button ng-if="!module.markedForDeletion" class="md-icon-button" ng-click="$ctrl.deleteModule($event, module, true)">
	            	<md-icon>delete</md-icon>
	            	<md-tooltip md-autohide>
                    	<span ma-tr="modules.module.delete"></span>
                	</md-tooltip>
	            </md-button>
	            <md-button ng-if="module.markedForDeletion" class="md-icon-button" ng-click="$ctrl.deleteModule($event, module, false)">
	            	<md-icon>not_interested</md-icon>
	            	<md-tooltip md-autohide>
                    	<span ma-tr="common.cancel"></span>
                	</md-tooltip>
	            </md-button>
            </span>
            <span class="md-subhead" ng-if="module.unloaded" ma-tr="ui.app.moduleUnloaded"></span>
            <span class="md-subhead" ng-bind="module.description" ng-if="!module.unloaded"></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content flex>
          <p ng-if="module.longDescription" ng-bind="module.longDescription"></p>
          <div layout="row">
            <span flex="30" ma-tr="modules.version"></span>
            <span flex="70" ng-bind="module.version"></span>
          </div>
          <div layout="row" ng-if="module.buildNumber > 0">
            <span flex="30" ma-tr="modules.buildNumber"></span>
            <span flex="70" ng-bind="module.buildNumber"></span>
          </div>
            <div layout="row">
                <span flex="30" ma-tr="modules.buildDate"></span>
                <span flex="70" ng-bind="module.buildDate | maDate:'dateTime'" ng-if="module.buildDate"></span>
            </div>
            <div layout="row">
                <span flex="30" ma-tr="modules.upgradedDate"></span>
                <span flex="70" ng-bind="module.upgradedDate | maDate:'dateTime'"></span>
            </div>
          <div layout="row">
            <span flex="30" ma-tr="ui.app.license"></span>
            <span ng-if="module.licenseType" flex="70" class="green-color"><md-icon class="green-color">done</md-icon> <span ng-bind="module.licenseType"></span></span>
            <span ng-if="!module.licenseType" flex="70" md-colors="::{color: 'warn'}"><md-icon md-colors="::{color: 'warn'}">warning</md-icon> <span ma-tr="modules.unlicenced"></span></span>
          </div>
          <div layout="row">
            <span flex="30" ma-tr="ui.app.moduleSignature"></span>
            <span ng-if="module.signed" flex="70" class="green-color"><md-icon class="green-color">verified_user</md-icon> <span ma-tr="ui.app.moduleSigned"></span></span>
            <span ng-if="!module.signed" flex="70" md-colors="::{color: 'warn'}"><md-icon md-colors="::{color: 'warn'}">warning</md-icon> <span ma-tr="ui.app.moduleUnsigned"></span></span>
          </div>
          <div layout="row" ng-if="module.vendor">
            <span flex="30" ma-tr="modules.vendor"></span>
            <span flex="70"><a ng-bind="module.vendor" ng-href="{{module.vendorUrl}}" target="_blank"></a></span>
          </div>
          <div layout="row" ng-if="module.dependencies">
            <span flex="30" ma-tr="modules.dependencies"></span>
            <span flex="70" ng-bind="module.dependencies"></span>
          </div>
        </md-card-content>
      </md-card>
  </div>
</div>
