ma-data-point-editor {
	display: block;
}

/* Stops the content of non-active tabs scrolling past on first load */ 
ma-data-point-editor md-tab-content:not(.md-active) * {
	visibility: hidden;
}

ma-data-point-editor .ma-dialog-actions > .md-button {
	margin: 0 4px;
}

ma-data-point-editor md-switch {
	display: inline-block;
}

ma-data-point-editor .ma-zero-one-label {
	font-weight: bold;
	margin: 24px 16px 24px 0;
}

ma-data-point-editor fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}