<h3>
    <span ma-tr="ui.dox.logging"></span>
    <md-button class="md-icon-button ma-small-button ma-no-margin" ui-sref="ui.help.loggingProperties">
        <md-icon>help</md-icon>
    </md-button>
</h3>
<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container">
    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>save</md-icon>
        <label ma-tr="pointEdit.logging.type"></label>
        <md-select name="loggingType" ng-model="$ctrl.dataPoint.loggingProperties.loggingType" required>
            <md-option ng-if="$ctrl.dataPoint.loggingProperties.loggingType.hasMultipleValues()" ng-value="$ctrl.dataPoint.loggingProperties.loggingType">
                <em ng-bind="$ctrl.dataPoint.loggingProperties.loggingType"></em>
            </md-option>
            <md-option ng-repeat="loggingType in $ctrl.loggingTypes track by loggingType.type" ng-value="loggingType.type">
                <span ma-tr="{{loggingType.translation}}"></span>
            </md-option>
        </md-select>
        <div ng-messages="loggingProperties.loggingType.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.loggingType.validationMessage"></div>
        </div>
    </md-input-container>
    
    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.dataType === 'NUMERIC' && ($ctrl.dataPoint.loggingProperties.loggingType === 'ON_CHANGE' || $ctrl.dataPoint.loggingProperties.loggingType === 'ON_CHANGE_INTERVAL')">
        <md-icon>tune</md-icon>
        <label ma-tr="pointEdit.logging.tolerance"></label>
        <input name="tolerance" ng-model="$ctrl.dataPoint.loggingProperties.tolerance" required type="number" min="0" ma-flatten-values="$values.firstNonEmpty()">
        <div ng-messages="loggingProperties.tolerance.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="min" ma-tr="validate.minNumber" ma-tr-args="[0]"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.tolerance.validationMessage"></div>
        </div>
    </md-input-container>
    
    <ma-duration-editor
            ng-if="$ctrl.dataPoint.loggingProperties.loggingType === 'INTERVAL' || $ctrl.dataPoint.loggingProperties.loggingType === 'ON_CHANGE_INTERVAL'"
            flex="100" flex-gt-md="50" name="intervalLoggingPeriod" ng-model="$ctrl.dataPoint.loggingProperties.intervalLoggingPeriod"
            allowed-types="::['SECONDS', 'MINUTES', 'HOURS', 'DAYS', 'WEEKS', 'MONTHS', 'YEARS']" required>
        <ma-periods-label ma-tr="pointEdit.logging.period"></ma-periods-label>
        <ma-type-label ma-tr="pointEdit.logging.period"></ma-type-label>
    </ma-duration-editor>

    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.loggingProperties.loggingType === 'INTERVAL'">
        <md-icon>build</md-icon>
        <label ma-tr="pointEdit.logging.valueType"></label>
        <md-select name="intervalLoggingType" ng-model="$ctrl.dataPoint.loggingProperties.intervalLoggingType" required>
            <md-option ng-if="$ctrl.dataPoint.loggingProperties.intervalLoggingType.hasMultipleValues()" ng-value="$ctrl.dataPoint.loggingProperties.intervalLoggingType">
                <em ng-bind="$ctrl.dataPoint.loggingProperties.intervalLoggingType"></em>
            </md-option>
            <md-option ng-repeat="valueType in $ctrl.intervalLoggingValueTypes track by valueType.type" ng-value="valueType.type" ng-if="$ctrl.optionSupported(valueType.dataTypes, $ctrl.dataPoint.dataType)">
                <span ma-tr="{{valueType.translation}}"></span>
            </md-option>
        </md-select>
        <div ng-messages="loggingProperties.intervalLoggingType.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.intervalLoggingType.validationMessage"></div>
        </div>
    </md-input-container>
    
    <div flex="100" flex-gt-md="50" ng-if-start="$ctrl.dataPoint.loggingProperties.loggingType === 'INTERVAL' && $ctrl.dataPoint.loggingProperties.intervalLoggingType === 'AVERAGE'">
        <md-checkbox class="ma-input-container-height" name="overrideIntervalLoggingSamples" ng-model="$ctrl.dataPoint.loggingProperties.overrideIntervalLoggingSamples" ma-flatten-values="false">
            <span ma-tr="pointEdit.props.overrideIntervalLoggingSamples"></span>
        </md-checkbox>
    </div>
    
    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.dataPoint.loggingProperties.overrideIntervalLoggingSamples" ng-if-end>
        <md-icon>aspect_ratio</md-icon>
        <label ma-tr="pointEdit.props.intervalLoggingSampleWindowSize"></label>
        <input name="intervalLoggingSampleWindowSize" ng-model="$ctrl.dataPoint.loggingProperties.intervalLoggingSampleWindowSize" type="number" required ma-flatten-values="$values.firstNonEmpty()">
        <div ng-messages="loggingProperties.intervalLoggingSampleWindowSize.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.intervalLoggingSampleWindowSize.validationMessage"></div>
        </div>
    </md-input-container>

    <div flex="100" flex-gt-md="50" layout="row" layout-align="start center">
        <md-input-container flex>
            <md-icon>memory</md-icon>
            <label ma-tr="pointEdit.logging.defaultCache"></label>
            <input name="cacheSize" ng-model="$ctrl.dataPoint.loggingProperties.cacheSize" required type="number" min="0" step="1" ma-flatten-values="$values.firstNonEmpty()">
            <div ng-messages="loggingProperties.cacheSize.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="min" ma-tr="validate.minNumber" ma-tr-args="[0]"></div>
                <div ng-message="step" ma-tr="validate.wholeNumber"></div>
                <div ng-message="validationMessage" ng-bind="loggingProperties.cacheSize.validationMessage"></div>
            </div>
        </md-input-container>
        <md-button ng-click="$ctrl.resetCache()">
            <span ma-tr="pointEdit.logging.clearCache"></span>
        </md-button>
    </div>
</div>

<div ng-if="$ctrl.dataPoint.dataType === 'NUMERIC'">
    <md-checkbox class="ma-input-container-height" name="discardExtremeValues" ng-model="$ctrl.dataPoint.loggingProperties.discardExtremeValues" ma-flatten-values="false">
        <span ma-tr="pointEdit.logging.discard"></span>
    </md-checkbox>
</div>

<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container"
        ng-if="$ctrl.dataPoint.dataType === 'NUMERIC' && $ctrl.dataPoint.loggingProperties.discardExtremeValues">
    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>vertical_align_bottom</md-icon>
        <label ma-tr="pointEdit.logging.discardLow"></label>
        <input name="discardLowLimit" ng-model="$ctrl.dataPoint.loggingProperties.discardLowLimit" type="number" required
                ma-less-than="{{$ctrl.dataPoint.loggingProperties.discardHighLimit}}" ma-flatten-values="$values.firstNonEmpty()">
        <div ng-messages="loggingProperties.discardLowLimit.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="lessThan" ma-tr="validate.lessThan" ma-tr-args="[$ctrl.dataPoint.loggingProperties.discardHighLimit]"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.discardLowLimit.validationMessage"></div>
        </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
        <md-icon>vertical_align_top</md-icon>
        <label ma-tr="pointEdit.logging.discardHigh"></label>
        <input name="discardHighLimit" ng-model="$ctrl.dataPoint.loggingProperties.discardHighLimit" type="number" required
                ma-greater-than="{{$ctrl.dataPoint.loggingProperties.discardLowLimit}}" ma-flatten-values="$values.firstNonEmpty()">
        <div ng-messages="loggingProperties.discardHighLimit.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="greaterThan" ma-tr="validate.greaterThan" ma-tr-args="[$ctrl.dataPoint.loggingProperties.discardLowLimit]"></div>
            <div ng-message="validationMessage" ng-bind="loggingProperties.discardHighLimit.validationMessage"></div>
        </div>
    </md-input-container>
</div>
