<ma-event-type-filter ng-model="$ctrl.eventType" ng-change="$ctrl.eventTypeChanged()"></ma-event-type-filter>

<div layout="column" layout-gt-md="row" layout-gt-lg="row" flex="noshrink">
    <md-card flex-gt-md="25" flex-gt-lg="20" layout="column">
        <md-toolbar class="md-hue-3">
            <div class="md-toolbar-tools">
                <span ma-tr="ui.eventHandlers.selectEventHandler"></span>
                <div flex></div>
                <md-button class="md-raised" ng-click="$ctrl.newEventHandler($event)" ng-if="!$ctrl.$mdMedia('gt-md')">
                    <md-icon>add</md-icon> <span ma-tr="ui.app.new"></span>
                    <md-tooltip><span ma-tr="ui.eventHandlers.createEventHandler"></span></md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
    
        <md-card-content flex layout layout-align="start center" ng-if="!$ctrl.$mdMedia('gt-md')">
            <ma-event-handler-select flex layout ng-model="$ctrl.eventHandler" ng-change="$ctrl.eventHandlerChanged()"
                show-new-option="true" event-type="$ctrl.eventType">
            </ma-event-handler-select>
        </md-card-content>
    
        <md-card-content flex class="ma-no-padding ma-scroll-parent" ng-if="$ctrl.$mdMedia('gt-md')">
            <ma-event-handler-list class="ma-scroll-child" flex layout="column" ng-model="$ctrl.eventHandler" ng-change="$ctrl.eventHandlerChanged()"
                event-type="$ctrl.eventType">
            </ma-event-handler-list>
        </md-card-content>
    </md-card>

    <div flex>
        <md-card>
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span ng-if="!$ctrl.eventHandler.isNew()" ma-tr="events.editEventHandler"></span>
                    <span ng-if="$ctrl.eventHandler.isNew()" ma-tr="ui.eventHandlers.createEventHandler"></span>
                </div>
            </md-toolbar>
            <ma-event-handler-editor ng-model="$ctrl.eventHandler" ng-change="$ctrl.eventHandlerSaved()" confirm-discard="true"></ma-event-handler-editor>
        </md-card>
    </div>
</div>
