<div layout="row" layout-align="start center" flex>
  <md-button ng-click="$ctrl.deleteSelf($event)" class="md-icon-button"><md-icon>clear</md-icon></md-button>
  <md-input-container class="ma-query-predicate-property">
    <label ma-tr="ui.app.property"></label>
    <md-select ng-model="$ctrl.propertyName" ng-change="$ctrl.propertyChanged()" required md-no-asterisk>
      <md-option ng-repeat="prop in $ctrl.properties track by prop.value" ng-value="prop.value">
        <span ma-tr="{{prop.labelTr}}"></span>
      </md-option>
    </md-select>
  </md-input-container>
  <ma-data-point-tag-key-select ng-if="$ctrl.propertyName === 'tags.'" ng-model="$ctrl.tagKey" ng-change="$ctrl.tagKeyChanged()"></ma-data-point-tag-key-select>
  <md-input-container class="ma-query-predicate-operation">
    <label ma-tr="ui.app.operation"></label>
    <md-select ng-model="$ctrl.node.name" ng-change="$ctrl.builderCtrl.updateModel()" required md-no-asterisk>
      <md-option ng-repeat="op in $ctrl.operations track by op.value" ng-value="op.value">
        <span ma-tr="{{op.labelTr}}"></span>
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container flex class="ma-query-predicate-value">
    <label ma-tr="common.value"></label>
    <input ng-model="$ctrl.node.args[1]" ng-change="$ctrl.builderCtrl.updateModel()" required md-no-asterisk>
  </md-input-container>
</div>
