<div ng-repeat="param in $ctrl.watchList.params" ng-if="$ctrl.parameters && !param.options.fixedValue" layout flex="100" flex-gt-sm="50" flex-gt-md="25">
  <md-input-container ng-if="param.type === 'input'" flex>
    <label ng-bind="param.label"></label>
    <input ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged(param)" ng-model-options="{debounce: 1000}"
        pattern="{{param.options.pattern}}">
  </md-input-container>
    <md-input-container flex ng-if="param.type === 'select'">
        <label ng-bind="param.label"></label>
        <ma-drop-down-button>
            <span ng-bind="$ctrl.optionLabel(param)"></span>
            <ma-drop-down auto-focus="::false" class="ma-full-screen-centered">
                <ma-option-list ma-form-exclude ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged(param)" ng-multiple="param.options.multiple"
                        items="$ctrl.filterOptions(param, $filter)" item-id="$item.value"
                        show-filter="param.options.filtering" ma-configure-input-container>
                    <ma-option ng-repeat="item in $items track by item.value" ng-value="item.value">
                        <md-icon ng-if="$multiple" class="ma-selected-show">check</md-icon>
                        <span class="ma-ellipsis" md-highlight-text="$filter" md-highlight-flags="ig">{{item.label || item.value}}</span>
                    </ma-option>
                </ma-option-list>
            </ma-drop-down>
        </ma-drop-down-button>
    </md-input-container>
  <md-input-container ng-if="param.type === 'number'" flex>
    <label ng-bind="param.label"></label>
    <input ng-model="$ctrl.parameters[param.name]" type="number" ng-change="$ctrl.inputChanged(param)" ng-model-options="{debounce: 1000}"
        min="{{param.options.min}}" max="{{param.options.max}}" step="{{param.options.step}}">
  </md-input-container>
  <md-input-container ng-if="param.type === 'numberRange'" flex>
    <label ng-bind="param.label"></label>
    <md-select ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged(param)">
      <md-option ng-repeat="val in [] | maRange:param.options.start:param.options.end:param.options.step" ng-value="val" ng-bind="val"></md-option>
    </md-select>
  </md-input-container>
  <md-input-container ng-if="param.type === 'date'" flex>
    <label ng-bind="param.label"></label>
    <ma-date-picker ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged(param)" ng-model-options="{debounce: 1000}"
        mode="{{param.options.mode}}" format="{{param.options.format}}"></ma-date-picker>
  </md-input-container>
  <md-input-container ng-if="param.type === 'deviceName' && !param.options.filtering" flex>
    <label ng-bind="param.label"></label>
    <ma-device-name-list ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged(param)"
        auto-init="false" show-clear="true" data-source-xid="$ctrl.optionValues[param.name].dataSourceXid"
        contains="$ctrl.optionValues[param.name].contains" ng-if="!param.options.multiple"></ma-device-name-list>
    <ma-device-name-list ng-model="$ctrl.parameters[param.name]" ng-model-options="{trackBy: '$value'}" ng-change="$ctrl.inputChanged(param)"
        auto-init="false" show-clear="true" data-source-xid="$ctrl.optionValues[param.name].dataSourceXid"
        contains="$ctrl.optionValues[param.name].contains" ng-if="param.options.multiple" multiple></ma-device-name-list>
  </md-input-container>
  <ma-filtering-device-name-list ng-if="param.type === 'deviceName' && param.options.filtering" flex
      ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged(param)"
      auto-init="false" data-source-xid="$ctrl.optionValues[param.name].dataSourceXid"
      label-text="param.label">
  </ma-filtering-device-name-list>
  <md-input-container ng-if="param.type === 'dataSource' && !param.options.filtering" flex>
    <label ng-bind="param.label"></label>
    <ma-data-source-list ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged(param)"
        auto-init="false" show-clear="true"
        query="$ctrl.optionValues[param.name].dsQuery">
    </ma-data-source-list>
  </md-input-container>
  <ma-filtering-data-source-list ng-if="param.type === 'dataSource' && param.options.filtering" flex
      ng-model="$ctrl.parameters[param.name]" ng-change="$ctrl.inputChanged(param)"
      auto-init="false" query="$ctrl.optionValues[param.name].dsQuery"
      label-text="param.label">
  </ma-filtering-data-source-list>
  <ma-data-point-tag-select ng-if="param.type === 'tagValue'" flex
      ng-model="$ctrl.parameters[param.name]"
      ng-change="$ctrl.inputChanged(param)"
      ng-required="$ctrl.optionValues[param.name].required"
      key="{{param.options.tagKey}}"
      restrictions="$ctrl.optionValues[param.name].restrictions"
      select-multiple="param.options.multiple">
      <ma-label>
          <span ng-if="param.label" ng-bind="param.label"></span>
          <span ng-if="!param.label" ma-tr="ui.app.tag" ma-tr-args="[param.options.tagKey]"></span>
      </ma-label>
  </ma-data-point-tag-select>
</div>
