ma-role-selector {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

ma-role-selector > ma-tree-view {
    overflow-y: auto;
    padding: 8px;
}

ma-role-selector .ma-role-selector-row {
    text-transform: unset;
    min-width: unset;
    margin: 0;
}

ma-role-selector .ma-role-selector-row.ma-selected {
    color: var(--ma-primary);
}

ma-role-selector .ma-role-selector-row:not(.ma-selected) > .ma-selected-show {
    visibility: hidden;
}

ma-role-selector .ma-role-selector-row > md-icon {
    color: inherit;
}

ma-role-selector .ma-role-selector-row > .ma-selected-show {
    margin-right: 8px;
}

ma-role-selector .ma-role-selector-row > .ma-role-icon {
    margin-right: 4px;
}
