<md-progress-linear ng-if="$ctrl.queryPromise"></md-progress-linear>

<md-list class="ma-no-padding ma-no-text-overflow">
    <md-list-item ng-if="$ctrl.showNew && !$ctrl.filter" class="md-2-line" ng-click="$ctrl.newPublisher($event)"
            ng-class="{'ma-list-selected': $ctrl.selected.isNew()}">
        <div class="md-list-item-text">
            <h3 ma-tr="ui.app.new"></h3>
            <p ma-tr="ui.publisher.create"></p>
        </div>
        <md-button class="md-secondary md-icon-button" ng-click="$ctrl.newPublisher($event)">
            <md-icon>add</md-icon>
        </md-button>
    </md-list-item>
    
    <md-list-item ng-repeat="item in $ctrl.items | orderBy:'name' track by item.xid" ng-click="$ctrl.selectPublisher(item)" class="md-2-line"
            ng-class="{'ma-list-selected': $ctrl.selected.xid === item.xid}">
        <div class="md-list-item-text">
            <h3 ng-bind="item.name"></h3>
            <p><span ng-bind="item.description"></span><span ng-if="item.connectionDescription"> &mdash; <span ng-bind="item.connectionDescription"></span></span></p>
        </div>

        <md-switch ng-if="$ctrl.showEnableSwitch && !($ctrl.hideSwitchOnSelected && $ctrl.selected.xid === item.xid)" class="md-secondary" ng-model="item.isEnabled"
            ng-class="{'ma-throb-opacity': item.$enableToggling}"
            ng-disabled="item.$enableToggling">
        </md-switch>
    </md-list-item>
    
    <md-list-item ng-if="!$ctrl.items.length && !$ctrl.queryPromise">
        <em ma-tr="publisherEdit.emptyList"></em>
    </md-list-item>
</md-list>
