<md-dialog flex="100" flex-gt-xs="{{$ctrl.smallDialog ? 60 : 80}}" flex-gt-sm="{{$ctrl.smallDialog ? 40 : 70}}" flex-gt-md="{{$ctrl.smallDialog ? 30 : 60}}" flex-gt-lg="{{$ctrl.smallDialog ? 20 : 50}}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 ng-bind="$ctrl.title"></h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" class="md-padding" flex>
        <md-input-container flex>
            <textarea ng-model="$ctrl.textContent" md-maxlength="150" rows="5" max-rows="15" id="dialog-text-area"
                      md-select-on-focus></textarea>
        </md-input-container>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="$ctrl.copyToClipBoard()">
            <md-icon>
                content_copy
            </md-icon>
            <span ma-tr="ui.settings.systemStatus.copyToClipboard"></span>
        </md-button>
        <md-button class="md-raised" ng-click="$ctrl.ok($event)">
            <span ma-tr="common.ok"></span>
        </md-button>
    </md-dialog-actions>
</md-dialog>