<md-input-container flex>
    <label ng-transclude="label"><span ma-tr="ui.components.selectARevision"></span></label>
    <md-select ng-model="$ctrl.selected" ng-change="$ctrl.inputChanged()" ng-model-options="{trackBy: '$value.typeName + $value.objectId + $value.timestamp'}"
            md-on-open="$ctrl.queryPromise" ng-disabled="!$ctrl.typeName || !$ctrl.objectId">
        <md-option ng-repeat="value in $ctrl.values track by (value.typeName + value.objectId + value.timestamp)" ng-value="value">
            <span ng-if="$ctrl.optionText" ng-bind="$ctrl.optionText({$value: value})"></span>
            <span ng-if="!$ctrl.optionText" ma-tr="ui.components.revisionText" ma-tr-args="[(value.timestamp | maDate), value.changeType, value.username, value.alarmLevel]"></span>
        </md-option>
    </md-select>
</md-input-container>
