<md-list class="ma-no-padding">
  <md-list-item ng-if="$ctrl.showNewButton" class="md-2-line" ng-click="$ctrl.newButtonClicked({'$event': $event})"
        ng-class="{'ma-list-selected': $ctrl.selectedUser.isNew()}">
    <div class="md-list-item-text">
      <h3 ma-tr="ui.app.new"></h3>
      <p ma-tr="users.add"></p>
    </div>
    <md-button class="md-secondary md-icon-button" ng-click="$ctrl.newButtonClicked({'$event': $event})">
      <md-icon>add</md-icon>
    </md-button>
  </md-list-item>

  <md-list-item class="md-2-line" ng-repeat="user in $ctrl.users track by user.id"
                ng-class="{'ma-list-selected': $ctrl.selectedUser.id === user.id}"
                ng-click="$ctrl.selectUser(user)">
    <div class="md-list-item-text">
      <h3 ng-bind="user.username"></h3>
      <p ng-bind="user.name"></p>
    </div>
  </md-list-item>
</md-list>