<div flex>
    <div layout layout-align="center center">
        <img ng-src="{{uiSettings.themeLogo}}" class="login-logo" ma-tr="header.ui.app.heading">
    </div>
    <div layout layout-align="center center">
        <md-card flex="100" flex-gt-xs="65" flex-gt-sm="50" flex-gt-md="30" flex-gt-lg="25">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" ma-tr="login.forgotPassword"></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ma-forgot-password></ma-forgot-password>
            </md-card-content>
        </md-card>
    </div>
</div>