<div flex>
    <div layout layout-align="center center">
        <img ng-src="{{uiSettings.themeLogo}}" class="login-logo" ma-tr="header.ui.app.heading">
    </div>
    <div layout layout-align="center center">
        <md-card flex="100" flex-gt-xs="65" flex-gt-sm="50" flex-gt-md="30" flex-gt-lg="25">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" ma-tr="login.pleaseSignIn"></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ma-login></ma-login>
            </md-card-content>
        </md-card>
    </div>
    <div layout layout-align="center center">
        <md-button ng-if="installPrompt.canPrompt()" ng-click="installPrompt.prompt($event)">
            <md-icon>add_to_home_screen</md-icon>
            <span ma-tr="login.ui.installApp"></span>
        </md-button>
    </div>
</div>