<div flex>
    <div layout layout-align="center center">
        <img ng-src="{{uiSettings.themeLogo}}" class="login-logo" ma-tr="header.ui.app.heading">
    </div>
    <div layout layout-align="center center">
        <md-card flex="100" flex-gt-xs="80" flex-gt-sm="70" flex-gt-md="60" flex-gt-lg="40">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" ma-tr="login.emailVerification.registerUser"></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ma-register-user></ma-register-user>
            </md-card-content>
        </md-card>
    </div>
</div>