<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container">
    <md-input-container flex="100" flex-gt-md="50">
        <label ma-tr="pointEdit.detectors.state"></label>
        <md-select name="checkIncrease" ng-model="$ctrl.eventDetector.analogChangeType" required>
            <md-option value="CHANGE"><span ma-tr="pointEdit.detectors.change"></span></md-option>
            <md-option value="INCREASE"><span ma-tr="pointEdit.detectors.analogChange.increase"></span></md-option>
            <md-option value="DECREASE"><span ma-tr="pointEdit.detectors.analogChange.decrease"></span></md-option>
        </md-select>
        <div ng-messages="$ctrl.form.checkIncrease.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.checkIncrease.validationMessage"></div>
        </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
        <label ma-tr="publisherEdit.updateEvent"></label>
        <md-select name="updateEvent" ng-model="$ctrl.eventDetector.updateEvent" required>
            <md-option value="CHANGES_ONLY"><span ma-tr="publisherEdit.publishType.changesOnly"></span></md-option>
            <md-option value="LOGGED_ONLY"><span ma-tr="publisherEdit.publishType.loggedOnly"></span></md-option>
        </md-select>
        <div ng-messages="$ctrl.form.updateEvent.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.updateEvent.validationMessage"></div>
        </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
        <label ma-tr="pointEdit.detectors.analogChangeLimit"></label>
        <input name="limit" ng-model="$ctrl.eventDetector.limit" type="number" required min="0">
        <div ng-messages="$ctrl.form.limit.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="min" ma-tr="validate.minNumber" ma-tr-args="::[0]"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.limit.validationMessage"></div>
        </div>
    </md-input-container>
    <ma-duration-editor flex="100" flex-gt-md="50" name="duration" ng-model="$ctrl.eventDetector.duration"
            allowed-types="::['SECONDS', 'MINUTES', 'HOURS', 'DAYS']">
        <ma-periods-label ma-tr="pointEdit.detectors.duration"></ma-periods-label>
        <ma-type-label ma-tr="pointEdit.detectors.durationUnit"></ma-type-label>
    </ma-duration-editor>
</div>