<md-radio-group name="notLower" ng-model="$ctrl.eventDetector.notLower" required layout
        class="ma-margin-bottom" md-colors="$ctrl.form.$submitted && $ctrl.form.notLower.$invalid ? {color: 'warn-A700'} : {}">
    <md-radio-button ng-value="false"><span ma-tr="pointEdit.detectors.lower"></span></md-radio-button>
    <md-radio-button ng-value="true"><span ma-tr="pointEdit.detectors.notLower"></span></md-radio-button>
</md-radio-group>   
 
<div ng-messages="$ctrl.form.notLower.$error" class="ma-small-text">
    <div ng-message="required" ma-tr="validate.required"></div>
    <div ng-message="validationMessage" ng-bind="$ctrl.form.notLower.validationMessage"></div>
</div>

<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container">
    <md-input-container flex="100" flex-gt-md="50">
        <label ma-tr="pointEdit.detectors.lowLimit"></label>
        <input name="limit" ng-model="$ctrl.eventDetector.limit" type="number" required>
        <div ng-messages="$ctrl.form.limit.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.limit.validationMessage"></div>
        </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50" ng-if="$ctrl.eventDetector.useResetLimit">
        <label ma-tr="pointEdit.detectors.resetLimit"></label>
        <input name="resetLimit" ng-model="$ctrl.eventDetector.resetLimit" type="number" required>
        <div ng-messages="$ctrl.form.resetLimit.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.resetLimit.validationMessage"></div>
        </div>
    </md-input-container>
    <ma-duration-editor flex="100" flex-gt-md="50" name="duration" ng-model="$ctrl.eventDetector.duration"
            allowed-types="::['SECONDS', 'MINUTES', 'HOURS', 'DAYS']">
        <ma-periods-label ma-tr="pointEdit.detectors.duration"></ma-periods-label>
        <ma-type-label ma-tr="pointEdit.detectors.durationUnit"></ma-type-label>
    </ma-duration-editor>
</div>

<div>
    <md-checkbox name="useResetLimit" ng-model="$ctrl.eventDetector.useResetLimit"><span ma-tr="pointEdit.detectors.useResetLimit"></span></md-checkbox>
</div>