<div layout="row" layout-wrap layout-align="space-between start" class="ma-inputs-container">
    <md-input-container flex="100" flex-gt-md="50">
        <label ma-tr="pointEdit.detectors.posLimit"></label>
        <input name="limit" ng-model="$ctrl.eventDetector.limit" type="number" required>
        <div ng-messages="$ctrl.form.limit.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.limit.validationMessage"></div>
        </div>
    </md-input-container>
    <md-input-container flex="100" flex-gt-md="50">
        <label ma-tr="pointEdit.detectors.weight"></label>
        <input name="weight" ng-model="$ctrl.eventDetector.weight" type="number" required>
        <div ng-messages="$ctrl.form.weight.$error">
            <div ng-message="required" ma-tr="validate.required"></div>
            <div ng-message="validationMessage" ng-bind="$ctrl.form.weight.validationMessage"></div>
        </div>
    </md-input-container>
    <ma-duration-editor flex="100" flex-gt-md="50" name="duration" ng-model="$ctrl.eventDetector.duration"
            allowed-types="::['SECONDS', 'MINUTES', 'HOURS', 'DAYS']">
        <ma-periods-label ma-tr="pointEdit.detectors.duration"></ma-periods-label>
        <ma-type-label ma-tr="pointEdit.detectors.durationUnit"></ma-type-label>
    </ma-duration-editor>
</div>