<div layout="row" layout-align="start center">
    <h3 ma-tr="dsEdit.currentState"></h3>
    <md-button class="md-icon-button test-tooltip" aria-label="Refresh" ng-click="$ctrl.getStatus()">
        <md-tooltip md-direction="right" ma-tr="common.refresh"></md-tooltip>
        <md-icon>refresh</md-icon>
    </md-button>
</div>
<div class="ma-data-source-state md-whiteframe-1dp"
    md-colors="{background: 'background-hue-2', color: $ctrl.state === 'RUNNING' ? 'primary' : 'warn'}">
    <md-icon>{{$ctrl.state === 'RUNNING' || $ctrl.state.includes('INITIAL') ? 'check' : 'warning'}}
    </md-icon>

    <div ma-tr="{{$ctrl.MA_LIFECYCLE_STATES[$ctrl.state].translation}}"></div>
</div>
<h3 ma-tr="dsEdit.latestPollTimes"></h3>
<md-table-container>
    <table md-table md-progress="$ctrl.promise">
        <thead md-head md-order="$ctrl.order">
            <tr md-row>
                <th md-column md-order-by="startTime" ma-tr="dsEdit.pollStartTime"></th>
                <th md-column md-order-by="duration" ma-tr="dsEdit.pollDuration"></th>
                <th md-column md-order-by="aborted" ma-tr="event.ds.pollAborted"></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="poll in $ctrl.status.latestPolls | orderBy:$ctrl.order track by $index">
                <td md-cell ng-bind="poll.startTime | maDate:'shortDateTimeSeconds'"></td>
                <td md-cell ng-bind="poll.duration"></td>
                <td md-cell><em ng-if="poll.aborted" ma-tr="event.ds.pollAborted" class="ma-error-text"></em></td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<h3 ma-tr="dsEdit.latestAbortedPollTimes"></h3>
<em ng-if="!$ctrl.status.latestAbortedPolls.length" ma-tr="dsEdit.noAbortedPolls"></em>
<md-table-container ng-if="$ctrl.status.latestAbortedPolls.length">
    <table md-table md-progress="$ctrl.promise">
        <thead md-head md-order="$ctrl.order">
            <tr md-row>
                <th md-column md-order-by="startTime | maDate:'shortDateTimeSeconds'" ma-tr="dsEdit.pollStartTime"></th>
                <th md-column md-order-by="duration" ma-tr="dsEdit.pollDuration"></th>
                <th md-column md-order-by="aborted" ma-tr="event.ds.pollAborted"></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="poll in $ctrl.status.latestAbortedPolls | orderBy:$ctrl.order track by $index">
                <td md-cell ng-bind="poll.startTime"></td>
                <td md-cell ng-bind="poll.duration"></td>
                <td md-cell><em ng-if="poll.aborted" ma-tr="event.ds.pollAborted" class="ma-error-text"></em></td>
            </tr>
        </tbody>
    </table>
</md-table-container>