ma-scripting-editor .ma-scripting-editor-help-container {
	position: relative;
}

ma-scripting-editor .ma-scripting-editor-help-container > .md-button {
	position: absolute;
	right: 0;
	top: 0;
}

ma-scripting-editor .ma-script-output {
    padding: 10px;
    overflow-y: auto;
    max-height: 300px;
}
