img.ma-ui-help{
    max-width: 400px;
    display: inline;
}

img.ma-ui-help-button{
    max-height: 25px;
    max-width: 65px
}

ul.ma-help-list {
    list-style-type:none;
}

table.ma-ui-help-alarm-table {
    border:1px solid black; 
    border-collapse: collapse;
}

table.ma-ui-help-alarm-table th,
table.ma-ui-help-alarm-table td {
    border: 1px solid black; 
    padding-left: 5px;
    padding-right:5px; 
    text-align:center;
}

table.ma-ui-help-alarm-table tr {
    border: 1px solid black; 
}

table.ma-ui-help-alarm-table td:first-child {
	text-align: left;
}