ma-reset-password-create-link {
    display: block;
}

ma-reset-password-create-link .ma-reset-password-buttons {
    margin-top: 8px;
}

ma-reset-password-create-link .ma-reset-password-buttons > .md-button:first-of-type {
    margin-left: 0;
}
