<div layout="column">
    <md-checkbox ng-model="$ctrl.sendEmail" ng-disabled="$ctrl.resetToken"><span ma-tr="users.sendResetToken"></span></md-checkbox>
    <md-checkbox ng-model="$ctrl.lockPassword" ng-disabled="$ctrl.resetToken"><span ma-tr="users.lockPassword"></span></md-checkbox>
</div>

<div layout="column" layout-gt-md="row">
    <md-input-container flex>
        <label ma-tr="ui.app.expiryPreset"></label>
        <md-select ng-model="$ctrl.expiryPreset" ng-change="$ctrl.expiryPresetChanged()" ng-disabled="$ctrl.resetToken">
            <md-option value="15_minutes" ma-tr="ui.time.minutesFromNow" ma-tr-args="[15]"></md-option>
            <md-option value="30_minutes" ma-tr="ui.time.minutesFromNow" ma-tr-args="[30]"></md-option>
            <md-option value="1_hours" ma-tr="ui.time.hoursFromNow" ma-tr-args="[1]"></md-option>
            <md-option value="3_hours" ma-tr="ui.time.hoursFromNow" ma-tr-args="[3]"></md-option>
            <md-option value="6_hours" ma-tr="ui.time.hoursFromNow" ma-tr-args="[6]"></md-option>
            <md-option value="12_hours" ma-tr="ui.time.hoursFromNow" ma-tr-args="[12]"></md-option>
            <md-option value="1_days" ma-tr="ui.time.daysFromNow" ma-tr-args="[1]"></md-option>
            <md-option value="3_days" ma-tr="ui.time.daysFromNow" ma-tr-args="[3]"></md-option>
            <md-option value="1_weeks" ma-tr="ui.time.weeksFromNow" ma-tr-args="[1]"></md-option>
        </md-select>
    </md-input-container>

    <md-input-container flex>
        <label ma-tr="ui.app.expiryDate"></label>
        <ma-date-picker ng-model="$ctrl.expiryDate" ng-change="$ctrl.expiryDateChanged()" ng-disabled="$ctrl.resetToken" format="dateTime"></ma-date-picker>
    </md-input-container>
</div>

<div layout ng-if="$ctrl.resetToken">
    <md-input-container flex>
        <label ma-tr="login.resetToken"></label>
        <textarea readonly="readonly" ng-model="$ctrl.resetToken.token"></textarea>
    </md-input-container>
</div>

<div ng-if="$ctrl.sendEmail" ma-tr="{{$ctrl.resetToken ? 'users.emailSentTo' : 'users.emailWillBeSentTo'}}" ma-tr-args="[$ctrl.user.email]"></div>
<div ng-if="$ctrl.resetToken">
    <a ng-href="{{$ctrl.resetToken.relativeUrl}}" ma-tr="users.passwordResetLink"></a>
</div>

<div layout class="ma-reset-password-buttons">
    <md-button class="md-raised md-primary" ng-click="$ctrl.createLink($event)" ng-if="!$ctrl.resetToken">
        <md-icon>settings_backup_restore</md-icon>&nbsp;<span ma-tr="users.createResetToken"></span>
    </md-button>
    <md-button class="md-raised" ng-click="$ctrl.copyToClipboard($event)" ng-if="$ctrl.resetToken">
        <md-icon>content_copy</md-icon>&nbsp;<span ma-tr="common.copyToClipboard"></span>
    </md-button>
</div>