<div layout="column" layout-gt-md="row" layout-gt-lg="row" flex="noshrink">
    <md-card flex-gt-md="25" layout="column">
        <md-toolbar class="md-hue-3">
            <div class="md-toolbar-tools">
                <span ma-tr="dsList.selectDataSource"></span>
                <div flex></div>
                <md-button class="md-raised" ng-click="$ctrl.newDataSource($event)" ng-if="!$ctrl.$mdMedia('gt-md') && $ctrl.User.current.hasSystemPermission('permissionDatasource')">
                    <md-icon>add</md-icon> <span ma-tr="ui.app.new"></span>
                    <md-tooltip><span ma-tr="dsList.createDataSource"></span></md-tooltip>
                </md-button>
                <md-button class="md-icon-button ma-small-button" ng-href="/rest/latest/data-sources/export"
                    ng-attr-download="data-sources.json" ng-if="$ctrl.$mdMedia('gt-md')">
                    <md-tooltip md-direction="left" ma-tr="ui.app.exportAll"></md-tooltip>
                    <md-icon md-menu-align-target>save_alt</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-card-content flex layout layout-align="start center" ng-if="!$ctrl.$mdMedia('gt-md')">
            <ma-data-source-list class="ma-data-source-list" flex layout ng-model="$ctrl.dataSource" ng-change="$ctrl.dataSourceChanged()"
                show-new="true" auto-init="false"></ma-data-source-list>
        </md-card-content>
        
        <md-input-container class="ma-filter" md-no-float ng-if="$ctrl.$mdMedia('gt-md')">
            <input ng-model="$ctrl.filter" ng-model-options="{debounce: 500}" ma-tr="ui.app.filter">
            <md-button class="ma-input-button md-icon-button" ng-click="$ctrl.filter = ''">
                <md-icon>clear</md-icon>
            </md-button>
        </md-input-container>
    
        <md-card-content flex class="ma-no-padding ma-scroll-parent" ng-if="$ctrl.$mdMedia('gt-md')">
            <ma-data-source-scroll-list class="ma-scroll-child" flex layout="column" ng-model="$ctrl.dataSource" ng-change="$ctrl.dataSourceChanged()"
                show-new="::true" show-enable-switch="::true" hide-switch-on-selected="::true" filter="$ctrl.filter"></ma-data-source-scroll-list>
        </md-card-content>
    </md-card>

    <div flex ng-if="$ctrl.dataSource">
        <md-card>
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span ng-if="!$ctrl.dataSource.isNew()" ma-tr="dsList.editDataSource" ma-tr-args="[$ctrl.dataSource.name]"></span>
                    <span ng-if="$ctrl.dataSource.isNew()" ma-tr="dsList.createDataSource"></span>
                    <div flex></div>
                    <md-menu md-position-mode="target-right bottom" md-offset="0 9" ng-if="!$ctrl.dataSource.isNew()">
                        <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
                            <md-icon md-menu-origin>more_vert</md-icon>
                            <md-tooltip><span ma-tr="ui.app.moreOptions"></span></md-tooltip>
                        </md-button>
                        <md-menu-content width="3" class="ma-no-padding" md-colors="::{background: 'background-hue-3'}">
                            <md-menu-item>
                                <md-button class="ma-no-padding-right" ng-href="/rest/latest/data-sources/export/{{$ctrl.dataSource.originalId}}" ng-attr-download="{{$ctrl.dataSource.name}}.json">
                                    <div layout="row" flex>
                                        <div flex ma-tr="emport.export"></div>
                                        <md-icon md-menu-align-target>save_alt</md-icon>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button class="ma-no-padding-right" ng-href="/rest/latest/data-sources/export-with-points?xid={{$ctrl.dataSource.originalId}}" ng-attr-download="{{$ctrl.dataSource.name}}.json">
                                    <div layout="row" flex>
                                        <div flex ma-tr="ui.app.exportWithPoints"></div>
                                        <md-icon md-menu-align-target>save_alt</md-icon>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <ma-data-source-editor ng-model="$ctrl.dataSource" ng-change="$ctrl.dataSourceSaved()" confirm-discard="true"></ma-data-source-editor>
        </md-card>
    </div>
</div>