<ma-tree-view reload="$ctrl.typesPromise"
              item-id="$item.typeId"
              load-children="$isRoot ? $ctrl.typesPromise : $item.loadMoreChildren($existing, 100)"
              has-children="$isRoot || $item.hasChildren()"
              expanded="$isRoot || $ctrl.hasSelectedCount($item.type)"><!-- no space
 --><md-checkbox ng-if="$item.handleable()" ng-click="$event.stopPropagation()" ng-disabled="$parentItem && $parentItem.type && $ctrl.selected.has($parentItem.type)"
        ng-init="checked = $ctrl.selectedGetterSetter($item.type)" ng-model="checked" ng-model-options="{getterSetter: true}" ma-form-exclude></md-checkbox><!-- no space
 --><md-icon ng-class="$ctrl.alarmLevels[$item.alarmLevel].materialClasses">{{$ctrl.alarmLevels[$item.alarmLevel].materialIcon || $item.icon || 'folder'}}<!-- no space
         --><md-tooltip ng-if="$item.alarmLevel" ma-tr="{{$ctrl.alarmLevels[$item.alarmLevel].translation}}"></md-tooltip></md-icon>
    <span>
        <span ng-bind="$item.getDescription()"></span>
        <span ng-if="$item.hasChildren()">(<em ma-tr="ui.app.xSelected" ma-tr-args="[$ctrl.getSelectedCount($item.type)]"></em>)</span>
    </span>
</ma-tree-view>
