<div layout="column" ng-init="$ctrl.pageChanged('auditTrail')">
    <div layout="row" layout-align="start center" layout-wrap>
        <md-input-container flex>
            <label ma-tr="ui.app.alarmLvl"></label>
            <md-select ng-model="$ctrl.auditQuery.alarmLevel" ng-change="$ctrl.updateAuditQuery()">
                <md-option value="*"><span ma-tr="ui.app.all"></span> <i class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-all"></i></md-option>
                <md-option value="NONE"><span ma-tr="common.alarmLevel.none"></span> <i class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-none"></i>
                </md-option>
                <md-option value="INFORMATION"><span ma-tr="common.alarmLevel.info"></span> <i
                    class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-information"></i></md-option>
                <md-option value="IMPORTANT"><span ma-tr="common.alarmLevel.important"></span> <i
                    class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-important"></i></md-option>
                <md-option value="WARNING"><span ma-tr="common.alarmLevel.warning"></span> <i
                    class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-warning"></i></md-option>
                <md-option value="URGENT"><span ma-tr="common.alarmLevel.urgent"></span> <i class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-urgent"></i>
                </md-option>
                <md-option value="CRITICAL"><span ma-tr="common.alarmLevel.critical"></span> <i
                    class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-critical"></i></md-option>
                <md-option value="LIFE_SAFETY"><span ma-tr="common.alarmLevel.lifeSafety"></span> <i
                    class="fa fa-flag fa-lg ma-alarm-flag ma-alarm-level-life-safety"></i></md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex>
            <label ma-tr="ui.settings.systemStatus.changeType"></label>
            <md-select ng-model="$ctrl.auditQuery.changeType" ng-change="$ctrl.updateAuditQuery()">
                <md-option value="*" ma-tr="ui.app.all"></md-option>
                <md-option value="CREATE" ma-tr="ui.settings.systemStatus.create"></md-option>
                <md-option value="MODIFY" ma-tr="ui.settings.systemStatus.modify"></md-option>
                <md-option value="DELETE" ma-tr="ui.settings.systemStatus.delete"></md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex>
            <label ma-tr="ui.settings.systemStatus.type"></label>
            <md-select ng-model="$ctrl.auditQuery.typeName" ng-change="$ctrl.updateAuditQuery()">
                <md-option value="*" ma-tr="ui.app.all"></md-option>
                <md-option ng-value="type.subtype" ng-repeat="type in $ctrl.auditEventTypes"
                           ng-bind="type.description"></md-option>
            </md-select>
        </md-input-container>

        <ma-user-select flex ng-model="$ctrl.auditQuery.userId" ng-change="$ctrl.updateAuditQuery()"
                        show-clear="true"></ma-user-select>

        <span style="padding-right: 5px;">{{'ui.app.dateFilter' | maTr}}: </span>

        <md-switch ng-model="$ctrl.auditQuery.dateFilter" ng-change="$ctrl.updateAuditQuery()"
                   aria-label="{{'ui.app.DateFilter' | maTr}}"></md-switch>
    </div>

    <md-table-pagination class="ma-pagination-underline" md-limit="$ctrl.auditTableLimit" md-limit-options="[5, 10, 15, 25, 50, 100, 200]"
                         md-page="$ctrl.auditTablePage" md-total="{{$ctrl.auditTrail.$total}}" md-page-select
                         md-on-paginate="$ctrl.boundAuditQuery"></md-table-pagination>

    <md-table-container>
        <table md-table>
            <thead md-head md-order="$ctrl.auditTableOrder" md-on-reorder="$ctrl.boundAuditQuery">
            <tr md-row>
                <th md-column md-order-by="alarmLevel" ma-tr="ui.settings.systemStatus.alarmLevel"></th>
                <th md-column md-order-by="changeType" ma-tr="ui.settings.systemStatus.changeType"></th>
                <th md-column md-order-by="typeName" ma-tr="ui.settings.systemStatus.type"></th>
                <th md-column md-order-by="message" ma-tr="ui.settings.systemStatus.message"></th>
                <th md-column md-order-by="ts" ma-tr="ui.settings.systemStatus.timestamp"></th>
                <th md-column md-order-by="userId" ma-tr="ui.settings.systemStatus.username"></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row
                ng-repeat="auditItem in $ctrl.auditTrail"
                ng-click="$ctrl.displayAuditContext(auditItem)">
                <td md-cell ng-bind="auditItem.alarmLevel"></td>
                <td md-cell ng-bind="auditItem.changeType"></td>
                <td md-cell ng-bind="auditItem.typeName"></td>
                <td md-cell ng-bind="auditItem.message"></td>
                <td md-cell ng-bind="auditItem.timestamp| maDate:'shortDateTime'"></td>
                <td md-cell ng-bind="auditItem.username"></td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>