<div layout="column" id="server-info" ng-init="$ctrl.pageChanged('serverInfo')">
    <div layout layout-align="end">
        <md-button ng-click="$ctrl.getSystemInfo()" class="md-raised">
            <md-icon>
                refresh
            </md-icon>
            <span ma-tr="ui.app.refreshTable"></span>
        </md-button>
        <md-button ng-click="$ctrl.getPointCounts()" class="md-raised">
            <md-icon>
                timeline
            </md-icon>
            <span>Get Point Counts</span>
        </md-button>
    </div>

    <md-list flex class="md-dense">
        <md-list-item layout>
            <strong ma-tr="ui.settings.systemStatus.timeZone"></strong>:
            <span flex></span>
            <span ng-bind="$ctrl.systemInfo.timezone"></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout>
            <strong ma-tr="ui.settings.systemStatus.databaseType"></strong>:
            <span flex></span>
            <span ng-bind="$ctrl.systemInfo.databaseType"></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout>
            <strong ma-tr="ui.settings.systemStatus.sqlDatabaseSize"></strong>:
            <span flex></span>
            <span ng-bind="$ctrl.systemInfo.sqlDatabaseSize | maBytes"></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout>
            <strong ma-tr="ui.settings.systemStatus.noSqlPointValueDatabaseSize"></strong>:
            <span flex></span>
            <span ng-bind="$ctrl.systemInfo.noSqlPointValueDatabaseSize | maBytes"></span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout>
            <strong ma-tr="ui.settings.systemStatus.eventsCount"></strong>:
            <span flex></span>
            <span ng-bind="$ctrl.systemInfo.eventsCount"></span>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>

    <br><br>

    <md-table-container ng-if="$ctrl.pointCounts.length">
        <table md-table>
            <thead md-head md-order="sortOrder">
            <tr md-row>
                <th md-column md-order-by="pointName" ma-tr="ui.settings.systemStatus.pointName"></th>
                <th md-column md-numeric md-order-by="pointId"><span ma-tr="ui.settings.systemStatus.pointId"></span></th>
                <th md-column md-numeric md-order-by="count"><span ma-tr="ui.settings.systemStatus.count"></span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="point in $ctrl.pointCounts | orderBy: sortOrder">
                <td md-cell>
                    <a ng-bind="point.pointName" ui-sref="ui.dataPointDetails({pointId: point.pointId})"></a>
                </td>
                <td md-cell ng-bind="point.pointId"></td>
                <td md-cell ng-bind="point.count"></td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</div>