ma-bulk-data-point-editor .ma-bulk-edit-toolbar {
	margin-top: 8px;
	margin-bottom: 16px;
}

ma-bulk-data-point-editor .ma-bulk-edit-toolbar ma-extra-controls {
	display: inline-block;
}

ma-bulk-data-point-editor .ma-bulk-edit-toolbar .md-button.md-icon-button,
ma-bulk-data-point-editor .ma-bulk-edit-toolbar ma-extra-controls > .md-button.md-icon-button {
	margin: 0 -4px;
}

ma-bulk-data-point-editor .ma-bulk-edit-toolbar md-input-container {
	margin: 0;
}

ma-bulk-data-point-editor table.md-table .ma-empty-null {
	opacity: 0.5;
	font-style: italic;
}

ma-bulk-data-point-editor table.md-table thead.md-table-progress md-progress-linear {
	top: -3px;
}

ma-bulk-data-point-editor table.md-table thead tr th {
	text-align: left;
	padding: 0 20px 8px 0;
}

ma-bulk-data-point-editor table.md-table:not(.md-row-select) td.md-cell:first-child,
ma-bulk-data-point-editor table.md-table:not(.md-row-select) th.md-column:first-child {
    width: 20px;
    padding-right: 16px;
    padding-left: 16px;
}

ma-bulk-data-point-editor table.md-table td.md-cell:last-child,
ma-bulk-data-point-editor table.md-table th.md-column:last-child {
	padding-right: 0;
}

ma-bulk-data-point-editor table.md-table thead tr th.ma-checkbox-column > md-checkbox {
    margin: 0;
    width: 20px;
}

ma-bulk-data-point-editor table.md-table thead tr th:nth-child(1n+2),
ma-bulk-data-point-editor table.md-table tbody tr td:nth-child(1n+2) {
	white-space: nowrap;
}

ma-bulk-data-point-editor .ma-point-actions md-switch {
	display: inline-block;
}

ma-bulk-data-point-editor .ma-point-actions md-switch,
ma-bulk-data-point-editor .ma-point-actions .md-button.md-icon-button {
	margin: 0;
}

ma-bulk-data-point-editor .ma-point-actions .md-button.md-icon-button {
	padding: 4px;
	width: 32px;
	height: 32px;
	min-height: 32px;
}

ma-bulk-data-point-editor .ma-point-actions md-switch > div.md-container {
	margin-right: 4px;
}

ma-bulk-data-point-editor .ma-no-points-found {
	font-style: italic;
	text-align: center;
	padding: 16px 0;
}

ma-bulk-data-point-editor .ma-bulk-edit-toolbar-center-text {
	margin: 8px;
	font-size: 1.3rem;
}

ma-bulk-data-point-editor thead.ma-filter-header > tr > th > md-input-container {
	width: 100%;
    margin: 0;
}

.ma-bulk-data-point-editor-event-detectors {
	min-height: 400px;
}
