<md-input-container>
    <ma-drop-down-button>
        <div><span ma-tr="ui.app.scriptContext"></span> (<span ma-tr="ui.app.xPointsSelectedLong" ma-tr-args="[$ctrl.contextPoints.length]"></span>)</div>
        <ma-drop-down create-on-init="false" class="ma-slide-down">
            <ma-data-point-selector select-multiple="::true" ng-model="$ctrl.contextPoints" ng-change="$ctrl.setViewValue()"
                ma-format-value="$ctrl.contextPointsToPoints($value)" ma-parse-value="$ctrl.pointsToContextPoints($value)">
            </ma-data-point-selector>
        </ma-drop-down>
    </ma-drop-down-button>
</md-input-container>

<md-table-container flex="100" ng-if="$ctrl.contextPoints.length > 0">
    <table md-table>
        <thead md-head>
            <tr md-row>
                <th md-column ma-tr="common.deviceName"></th>
                <th md-column ma-tr="common.pointName"></th>
                <th md-column ma-tr="ui.app.tags"></th>
                <th md-column ma-tr="dsEdit.pointDataType"></th>
                <th md-column ma-tr="pointEdit.text.key"></th>
                <th ng-if="$ctrl.updatesContext" md-column ma-tr="ui.scriptingEditor.updatesContext"></th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="contextPoint in $ctrl.contextPoints track by contextPoint[$ctrl.xidProp]">
                <td md-cell ng-bind="$ctrl.getPoint(contextPoint).deviceName"></td>
                <td md-cell ng-bind="$ctrl.getPoint(contextPoint).name"></td>
                <td md-cell ng-bind="$ctrl.getPoint(contextPoint).formatTags()"></td>
                <td md-cell ng-bind="$ctrl.getPoint(contextPoint).dataType"></td>
                <td md-cell>
                    <md-input-container class="ma-context-variable">
                        <label ma-tr="pointEdit.text.key"></label>
                        <input name="variableName" ng-model="contextPoint.variableName" ng-change="$ctrl.setViewValue()" required>
                    </md-input-container>
                </td>
                <td md-cell ng-if="$ctrl.updatesContext">
                    <md-checkbox ng-model="contextPoint.contextUpdate" ng-change="$ctrl.setViewValue()"></md-checkbox>
                </td>
                <td md-cell>
                    <md-button class="md-icon-button" ng-click="$ctrl.deleteContextPoint($index)">
                        <md-tooltip ma-tr="common.remove"></md-tooltip>
                        <md-icon>clear</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>