ma-script-context {
    display: block;
}

ma-script-context > md-input-container {
    display: block;
}

ma-script-context md-input-container.ma-context-variable {
    display: block;
    min-width: 150px;
}