<div class="md-padding watchlist-parameters" layout="column">
  <md-card md-colors="::{background: 'background'}" ng-if="$ctrl.watchlist.hasParamOptions()">
    <md-card-title>
        <md-card-title-text>
            <em ma-tr="ui.app.previewWatchListParameters"></em>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <ma-watch-list-parameters watch-list="$ctrl.watchlist" ng-model="$ctrl.watchListParams"
            ng-change="$ctrl.queryChanged()" layout layout-align="start center" layout-wrap></ma-watch-list-parameters>
    </md-card-content>
  </md-card>
  
  <p ng-if="!$ctrl.watchlist.params.length" ma-tr="ui.app.noParameters"></p>

  <div ma-sortable="{draggable: '.watchlist-parameter-row', handle: '.watchlist-parameter-main > .ma-move-handle'}" ma-sortable-items="$ctrl.watchlist.params">
    <div ng-repeat="param in $ctrl.watchlist.params" layout="column" class="watchlist-parameter-row">
      <div layout="row" layout-align="start center" class="watchlist-parameter-main">
        <md-button class="md-icon-button remove-parameter" ng-click="$ctrl.deleteParamValues(param); $ctrl.watchlist.params.splice($index, 1);"><md-icon>clear</md-icon></md-button>
        <md-input-container flex>
          <label ma-tr="ui.app.label"></label>
          <input ng-model="param.label" required md-no-asterisk>
        </md-input-container>
        <md-input-container flex>
          <label ma-tr="ui.app.parameterName"></label>
          <input ng-model="param.name" required md-no-asterisk>
        </md-input-container>
        <md-input-container flex>
          <label ma-tr="ui.app.parameterType"></label>
          <md-select ng-model="param.type" ng-change="$ctrl.paramTypeChanged(param)" required md-no-asterisk>
            <md-option ng-value="'input'" ma-tr="ui.app.input"></md-option>
            <md-option ng-value="'select'" ma-tr="ui.app.select"></md-option>
            <md-option ng-value="'number'" ma-tr="ui.app.number"></md-option>
            <md-option ng-value="'numberRange'" ma-tr="ui.app.numberRange"></md-option>
            <md-option ng-value="'date'" ma-tr="ui.app.date"></md-option>
            <md-option ng-value="'deviceName'" ma-tr="common.deviceName"></md-option>
            <md-option ng-value="'dataSource'" ma-tr="ui.app.dataSource"></md-option>
            <md-option ng-value="'tagValue'" ma-tr="ui.app.dataPointTag"></md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-icon-button" ng-click="showSettings=!showSettings" ng-class="{'md-accent': showSettings}"><md-icon>settings</md-icon></md-button>
        <md-icon class="ma-move-handle">reorder</md-icon>
      </div>
      <div ng-if="showSettings" class="watchlist-parameter-options">
        <div ng-if="param.type === 'input'" layout="row" layout-align="end center">
          <md-input-container>
            <label ma-tr="ui.app.pattern"></label>
            <input ng-model="param.options.pattern">
          </md-input-container>
        </div>
        <div ng-if="param.type === 'select'" layout="column" layout-align="start end">
          <md-checkbox ng-model="param.options.multiple"><span ma-tr="ui.app.selectMultiple"></span></md-checkbox>
          <md-checkbox ng-model="param.options.filtering"><span ma-tr="ui.app.filteringSelect"></span></md-checkbox>
          <div ma-sortable="{draggable: '.ma-param-option', handle: '.ma-param-option > .ma-move-handle'}" ma-sortable-items="param.options.options">
            <div ng-repeat="option in param.options.options" layout="row" layout-align="end center" class="ma-param-option">
              <md-button class="md-icon-button" ng-click="param.options.options.splice($index, 1)"><md-icon>clear</md-icon></md-button>
              <md-input-container>
                <label ma-tr="ui.app.label"></label>
                <input ng-model="option.label">
              </md-input-container>
              <md-input-container>
                <label ma-tr="ui.app.value"></label>
                <input ng-model="option.value" required>
              </md-input-container>
              <md-icon class="ma-move-handle">reorder</md-icon>
            </div>
          </div>
          <md-button class="md-raised" ng-click="param.options.options ? param.options.options.push({}) : param.options.options = [{}]" ma-tr="ui.app.addOption"></md-button>
        </div>
        <div ng-if="param.type === 'number'" layout="row" layout-align="end center">
          <md-input-container>
            <label ma-tr="common.stats.min"></label>
            <input ng-model="param.options.min" type="number">
          </md-input-container>
          <md-input-container>
            <label ma-tr="common.stats.max"></label>
            <input ng-model="param.options.max" type="number">
          </md-input-container>
          <md-input-container>
            <label ma-tr="ui.app.step"></label>
            <input ng-model="param.options.step" type="number" min="1">
          </md-input-container>
        </div>
        <div ng-if="param.type === 'numberRange'" layout="row" layout-align="end center">
          <md-input-container>
            <label ma-tr="common.stats.start"></label>
            <input ng-model="param.options.start" type="number">
          </md-input-container>
          <md-input-container>
            <label ma-tr="common.stats.end"></label>
            <input ng-model="param.options.end" type="number">
          </md-input-container>
          <md-input-container>
            <label ma-tr="ui.app.step"></label>
            <input ng-model="param.options.step" type="number" min="1">
          </md-input-container>
        </div>
        <div ng-if="param.type === 'date'" layout="row" layout-align="end center">
          <md-input-container>
            <label ma-tr="ui.app.dateMode"></label>
            <md-select ng-model="param.options.mode">
              <md-option ng-value="'both'" ma-tr="ui.app.dateModeBoth"></md-option>
              <md-option ng-value="'date'" ma-tr="ui.app.dateModeDate"></md-option>
              <md-option ng-value="'time'" ma-tr="ui.app.dateModeTime"></md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label ma-tr="ui.app.dateFormat"></label>
            <input ng-model="param.options.format">
          </md-input-container>
        </div>
        <div ng-if="param.type === 'deviceName'" layout="row" layout-align="end center">
          <md-input-container>
            <label ma-tr="ui.app.dataSourceXid"></label>
            <input ng-model="param.options.dataSourceXid">
          </md-input-container>
          <md-input-container>
            <label ma-tr="ui.app.nameContains"></label>
            <input ng-model="param.options.contains" ng-disabled="param.options.filtering">
          </md-input-container>
          <md-checkbox ng-model="param.options.multiple" ng-disabled="param.options.filtering"><span ma-tr="ui.app.selectMultiple"></span></md-checkbox>
          <md-checkbox ng-model="param.options.filtering" ng-change="param.options.multiple = undefined; param.options.contains = undefined"><span ma-tr="ui.app.filteringSelect"></span></md-checkbox>
        </div>
        <div ng-if="param.type === 'dataSource'" layout="row" layout-align="end center">
          <md-input-container>
            <label ma-tr="ui.app.xidIsLike"></label>
            <input ng-model="param.options.xidIsLike">
          </md-input-container>
          <md-input-container>
            <label ma-tr="ui.app.nameIsLike"></label>
            <input ng-model="param.options.nameIsLike">
          </md-input-container>
          <md-checkbox ng-model="param.options.filtering"><span ma-tr="ui.app.filteringSelect"></span></md-checkbox>
        </div>
        <div ng-if="param.type === 'tagValue'">
          <div layout="row" layout-align="end center">
              <md-checkbox ng-model="param.options.multiple" ng-change="$ctrl.deleteParamValues(param)"><span ma-tr="ui.app.selectMultiple"></span></md-checkbox>
              <ma-data-point-tag-key-select ng-model="param.options.tagKey"></ma-data-point-tag-key-select>
          </div>
          <div layout="column" layout-align="start end">
              <md-button class="md-raised" ng-click="param.options.restrictions[''] = ''" ma-tr="ui.components.addRestriction"></md-button>
              <div ng-repeat="(key, value) in param.options.restrictions" layout="row" layout-align="end center">
                  <md-button class="md-icon-button" ng-click="$ctrl.deleteProperty(param.options.restrictions, key)"><md-icon>clear</md-icon></md-button>
                  <ma-data-point-tag-key-select ng-init="tagKey = key" ng-model="tagKey"
                      ng-change="param.options.restrictions[tagKey] = value; $ctrl.deleteProperty(param.options.restrictions, key)">
                          <ma-label ma-tr="ui.components.restrictTagKey"></ma-label>
                  </ma-data-point-tag-key-select>
                  <md-input-container>
                      <label ma-tr="ui.components.restrictTagKeyTo" ma-tr-args="[key]"></label>
                      <input ng-model="param.options.restrictions[key]">
                  </md-input-container>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div layout="row" layout-align="start center">
    <md-button class="md-raised" ma-tr="ui.app.addParameter" ng-click="$ctrl.addParam()"></md-button>
  </div>
</div>
