<div class="md-padding">
    <md-card md-colors="::{background: 'background'}" ng-if="$ctrl.watchlist.hasParamOptions()">
        <md-card-title>
            <md-card-title-text>
                <em ma-tr="ui.app.chooseWatchListParameters"></em>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <ma-watch-list-parameters watch-list="$ctrl.watchlist" ng-model="$ctrl.watchListParams" ng-change="$ctrl.queryChanged()" layout layout-align="start center" layout-wrap></ma-watch-list-parameters>
        </md-card-content>
    </md-card>
</div>

<div class="watchlist-query-preview">
  <md-table-container>
    <table md-table md-progress="$ctrl.queryPreviewPromise">
      <thead md-head md-order="$ctrl.queryPreviewTable.order">
        <tr md-row>
            <th md-column md-order-by="dataSourceName" ma-tr="ui.app.dataSource"></th>
            <th md-column md-order-by="deviceName" ma-tr="common.deviceName"></th>
            <th md-column md-order-by="name" ma-tr="common.pointName"></th>
            <th md-column md-order-by="xid" ma-tr="common.xid"></th>
          </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="point in $ctrl.queryPreviewPoints | orderBy:$ctrl.queryPreviewTable.order | limitTo:$ctrl.queryPreviewTable.limit:($ctrl.queryPreviewTable.page-1)*$ctrl.queryPreviewTable.limit track by point.xid">
            <td md-cell ng-bind="point.dataSourceName"></td>
            <td md-cell ng-bind="point.deviceName"></td>
            <td md-cell ng-bind="point.name"></td>
            <td md-cell ng-bind="point.xid"></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="$ctrl.queryPreviewTable.limit" md-limit-options="[5, 10, 20, 50, 100]" md-page="$ctrl.queryPreviewTable.page" md-total="{{$ctrl.queryPreviewTable.total}}" md-page-select></md-table-pagination>
</div>
