<div class="md-padding watchlist-query" layout="column">
  <div layout="row">
    <md-input-container flex class="rql-input">
      <label ma-tr="ui.app.rql"></label>
      <input ng-model="$ctrl.watchlist.query" ng-model-options="{debounce: 1000}" ng-change="$ctrl.queryChanged()" ma-ui-bracket-escape>
    </md-input-container>
  </div>
  <ma-query-builder properties="$ctrl.queryProperties" ng-model="$ctrl.watchlist.query" ng-model-options="{allowInvalid: true, debounce: 500}"
      ng-change="$ctrl.queryChanged()">
  </ma-query-builder>
</div>