<md-list flex class="ma-no-padding">
    <md-list-item class="md-2-line" ng-click="$ctrl.newItem()" md-colors="{'background': $ctrl.selected.isNew() ? 'accent-hue-1' : 'background-hue-1'}">
        <div class="md-list-item-text">
            <h3 ma-tr="ui.app.virtualSerialPort.new"></h3>
            <p ma-tr="ui.app.virtualSerialPort.create"></p>
        </div>
        <md-button class="md-secondary md-icon-button" ng-click="$ctrl.newItem()">
            <md-icon>add</md-icon>
        </md-button>
    </md-list-item>

    <md-list-item ng-repeat="item in $ctrl.items" class="md-2-line" ng-click="$ctrl.selectItem(item)" md-colors="{'background': $ctrl.selected.xid === item.xid ? 'accent-hue-1' : 'background-hue-1'}">
        <div class="md-list-item-text">
            <h3> {{ item.portName}} </h3>
            <p> {{ item.port }} </p>
        </div>
    </md-list-item>
</md-list>