<md-input-container flex layout="row">
    <label ng-transclude="labelSlot">
        <span ma-tr="ui.app.virtualSerialPort.select"></span>
    </label>
    <md-select flex ng-if="$ctrl.selectMultiple" multiple="true" md-on-open="$ctrl.getItems()" ma-form-exclude ng-model="$ctrl.selected" ng-change="$ctrl.selectItem()" ng-model-options="{trackBy: '$value.xid'}">
        <md-option ng-if="$ctrl.showClear" ng-value="undefined" md-option-empty><md-icon>clear</md-icon> <em ma-tr="ui.app.clear"></em></md-option>
        <md-option ng-repeat="item in $ctrl.items | orderBy:'name' track by item.xid" ng-value="item"><span ng-bind="item.name"></span></md-option>
    </md-select>
    <md-select flex ng-if="!$ctrl.selectMultiple" md-on-open="$ctrl.getItems()" ma-form-exclude ng-model="$ctrl.selected" ng-change="$ctrl.selectItem()" ng-model-options="{trackBy: '$value.xid'}">
        <md-option ng-if="$ctrl.showClear" ng-value="undefined" md-option-empty><md-icon>clear</md-icon> <em ma-tr="ui.app.clear"></em></md-option>
        <md-option ng-repeat="item in $ctrl.items | orderBy:'name' track by item.xid" ng-value="item"><span ng-bind="item.portName"></span></md-option>
    </md-select>
</md-input-container>