<form flex layout="column" name="$ctrl.form" ma-validation-messages="$ctrl.validationMessages" layout-wrap>
    <div flex layout="row" layout-align="space-between top" layout-wrap>
        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between">
            <label ma-tr="common.xid"></label>
            <input name="xid" ng-model="$ctrl.selected.xid" required>
            <div ng-messages="$ctrl.form.xid.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="$ctrl.form.xid.validationMessage"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between">
            <label ma-tr="systemSettings.comm.virtual.serialClientSocketBridgeSettings.commPortId"></label>
            <input name="portName" ng-model="$ctrl.selected.portName" required>
            <div ng-messages="$ctrl.form.portName.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="$ctrl.form.portName.validationMessage"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between">
            <label ma-tr="systemSettings.comm.virtual.serialPorts.types"></label>
            <md-select name="portType" ng-model="$ctrl.selected.portType" required>
                <md-option value="SERIAL_SOCKET_BRIDGE" ma-tr="systemSettings.comm.virtual.serialPorts.types.serialClientSocketBridge"></md-option>
                <md-option value="SERIAL_SERVER_SOCKET_BRIDGE" ma-tr="systemSettings.comm.virtual.serialPorts.types.serialServerSocketBridge"></md-option>
            </md-select>
            <div ng-messages="$ctrl.interfaceForm.ipv4AddressingType[$index].$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="$ctrl.form.portType.validationMessage"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between" ng-if="$ctrl.selected.portType !== 'SERIAL_SERVER_SOCKET_BRIDGE'">
            <label ma-tr="systemSettings.comm.virtual.serialClientSocketBridgeSettings.address"></label>
            <input name="address" ng-model="$ctrl.selected.address" required>
            <div ng-messages="$ctrl.form.address.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="$ctrl.form.address.validationMessage"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between" ng-if="$ctrl.selected.portType === 'SERIAL_SERVER_SOCKET_BRIDGE'">
            <label ma-tr="systemSettings.comm.virtual.serialServerSocketBridgeSettings.bufferSize"></label>
            <input name="bufferSize" ng-model="$ctrl.selected.bufferSize" type="number" required>
            <div ng-messages="$ctrl.form.bufferSize.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="$ctrl.form.bufferSize.validationMessage"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between">
            <label ma-tr="systemSettings.comm.virtual.serialClientSocketBridgeSettings.port"></label>
            <input name="port" ng-model="$ctrl.selected.port" type="number" required>
            <div ng-messages="$ctrl.form.port.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="$ctrl.form.port.validationMessage"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="45" class="ma-input-space-between">
            <label ma-tr="systemSettings.comm.virtual.serialClientSocketBridgeSettings.timeout"></label>
            <input name="timeout" ng-model="$ctrl.selected.timeout" type="number" required>
            <div ng-messages="$ctrl.form.timeout.$error">
                <div ng-message="required" ma-tr="validate.required"></div>
                <div ng-message="validationMessage" ng-bind="$ctrl.form.timeout.validationMessage"></div>
            </div>
        </md-input-container>

        <md-input-container flex="100" ng-if="$ctrl.selected.portType === 'SERIAL_SERVER_SOCKET_BRIDGE'">
            <label ma-tr="systemSettings.comm.virtual.serialClientSocketBridgeSettings.ipWhiteList"></label>
            <md-chips ng-model="$ctrl.selected.ipWhiteList" name="ipWhiteList" readonly="false" md-removable="true">
                <md-chip-template>
                    <strong>{{$chip}}</strong>
                </md-chip-template>
            </md-chips>
            <div ng-messages="$ctrl.form.ipWhiteList.$error">
                <div ng-message="validationMessage" ng-bind="$ctrl.form.ipWhiteList.validationMessage"></div>
            </div>
        </md-input-container>
    </div>
    <div flex layout layout-wrap layout-align="start center" class="ma-margin-bottom">
        <md-button class="md-raised md-primary" ng-click="$ctrl.save($event)">
            <md-icon>save</md-icon> <span ma-tr="common.save"></span>
        </md-button>
        <md-button class="md-raised md-accent" ng-click="$ctrl.revert($event)" ng-disabled="$ctrl.form.$pristine">
            <md-icon>undo</md-icon>&nbsp;<span ma-tr="ui.app.revert"></span>
        </md-button>
        <md-button class="md-raised md-warn" ng-click="$ctrl.delete($event)" ng-disabled="!$ctrl.form.$valid && !$ctrl.form.$touched">
            <md-icon>delete</md-icon> <span ma-tr="common.delete"></span>
        </md-button>
    </div>
</form>