<md-table-container>
    <table md-table md-progress="$ctrl.queryPromise">
        <thead md-head md-order="$ctrl.tableOrder" md-on-reorder="$ctrl.reorder">
            <tr md-row>
                <th md-column md-order-by="xid" ma-tr="common.xid"></th>
                <th md-column md-order-by="name" ma-tr="common.name"></th>
                <th md-column md-order-by="readPermission" ma-tr="ui.permissions.read"></th>
                <th md-column md-order-by="editPermission" ma-tr="ui.permissions.edit"></th>
                <th md-column></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="item in $ctrl.orderedItems track by item.xid">
                <td md-cell ng-bind="item.xid"></td>
                <td md-cell ng-bind="item.name"></td>
                <td md-cell ng-bind="$ctrl.formatPermission(item.readPermission)"></td>
                <td md-cell ng-bind="$ctrl.formatPermission(item.editPermission)"></td>
                <td>
                    <md-button class="md-icon-button md-warn" ng-click="$ctrl.deleteItem($event, item, $index)">
                        <md-icon>delete</md-icon>
                        <md-tooltip ma-tr="common.delete"></md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="$ctrl.editClicked({$event: $event, $item: item})">
                        <md-icon>edit</md-icon>
                        <md-tooltip ma-tr="common.edit"></md-tooltip>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
