<md-input-container ng-if="$ctrl.showFilter" class="ma-filter" md-no-float>
    <input name="filter" ma-form-exclude ng-model="$ctrl.filter" ng-change="$ctrl.filterChanged()" ng-model-options="{debounce: 500}"
        ng-disabled="$ctrl.disabled" ng-attr-placeholder="{{$ctrl.filterPlaceholder}}">
    <md-button ng-show="$ctrl.filter" class="ma-input-button md-icon-button" ng-click="$ctrl.clearFilter()">
        <md-icon>clear</md-icon>
    </md-button>
</md-input-container>
<div class="ma-option-list-container" role="listbox"></div>
<div class="ma-option-list-loading" ng-if-start="$ctrl.queryPromise">
    <md-progress-linear></md-progress-linear>
</div>
<div class="ma-option-list-loading-text" ng-if-end>
    <span ma-tr="ui.components.loadingItems"></span>
</div>
<div class="ma-option-list-no-items" ng-if="!$ctrl.options.length && !$ctrl.queryPromise">
    <span ma-tr="login.ui.noItemsToList"></span>
</div>
<div class="ma-option-list-load-more"
     ng-if="!$ctrl.queryPromise && $ctrl.items.$total != null && $ctrl.items.$total - $ctrl.items.length > 0"
     ng-click="$ctrl.loadMore()">
    <span ma-tr="ui.components.loadMore" ma-tr-args="[$ctrl.items.$total - $ctrl.items.length]"></span>
</div>
<div layout="column" ng-if="$ctrl.dropDownCtrl.fullscreen && $ctrl.multiple" class="ma-ok-button">
    <md-button ng-click="$ctrl.dropDownCtrl.close()">
        <span ma-tr="common.ok"></span>
    </md-button>
</div>