ma-data-point-selector {
	flex-grow: 1;
	min-height: 400px;
	display: flex;
	flex-direction: column;
}

ma-data-point-selector .ma-virtual-repeat-table-container {
	flex: 1 0 auto;
	display: flex;
	overflow-x: auto;
}

ma-data-point-selector .ma-virtual-repeat-table {
	flex: 1 0 auto;
}

ma-data-point-selector .ma-empty-null {
	opacity: 0.5;
	font-style: italic;
}

ma-data-point-selector .ma-virtual-repeat-table-header md-input-container {
	width: 100%;
    margin: 0;
    padding: 0;
}

ma-data-point-selector .ma-virtual-repeat-table .ma-checkbox-column {
	flex: 0 0 32px;
	display: flex;
	justify-content: center;
}

ma-data-point-selector .ma-virtual-repeat-table .ma-checkbox-column md-checkbox {
	width: 20px;
	margin: 0;
}

ma-data-point-selector .ma-data-point-row {
	user-select: none;
}

ma-data-point-selector .ma-virtual-repeat-table-row md-checkbox {
	pointer-events: none;
}

ma-data-point-selector md-menu-bar {
	width: 32px;
	padding: 0;
}

md-menu-content.md-menu-bar-menu.md-dense.ma-data-point-selector {
	padding: 8px 0;
}

md-menu-content.md-menu-bar-menu.ma-data-point-selector.ma-checkbox-menu md-checkbox {
	margin: 0;
}

md-menu-content.md-menu-bar-menu.md-dense.ma-data-point-selector md-menu-item > a.md-button{
    padding-top: 0px;
}