<ma-data-point-tag-key-select
        ng-model="$ctrl.tagKeys"
        ng-change="$ctrl.tagKeysChanged()"
        exclude-tags="::['device', 'name']"
        edit-mode="::true"
        select-multiple="::true"
></ma-data-point-tag-key-select>

<div ng-repeat="(key, value) in $ctrl.tags" layout layout-align="start center">
    <md-button class="md-icon-button ma-small-button" ng-click="$ctrl.deleteTagKey(key)">
        <md-icon>remove_circle_outline</md-icon>
        <md-tooltip><span ma-tr="ui.app.removeTag" ma-tr-args="[key]"></span></md-tooltip>
    </md-button>
    <div class="ma-key-name" ng-bind="key"></div>
    <ma-data-point-tag-select flex
            key="{{key}}"
            ng-model="$ctrl.tags[key]"
            ng-change="$ctrl.tagValueChanged(key)"
            edit-mode="::true" ng-required="::true">
    </ma-data-point-tag-select>
</div>
