<md-dialog flex="100" flex-gt-sm="50" flex-gt-md="40" flex-gt-lg="30" class="download-point-values-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 ma-tr="ui.app.downloadPointValues"></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column" class="md-padding">
    <div layout flex="none"><strong flex="30" ma-tr="common.dateRangeFrom"></strong><span flex ng-bind="$ctrl.dateBar.from | maDate"></span></div>
    <div layout flex="none"><strong flex="30" ma-tr="common.dateRangeTo"></strong><span flex ng-bind="$ctrl.dateBar.to | maDate"></span></div>
    <div layout flex="none"><strong flex="30" ma-tr="ui.app.duration"></strong><span flex ng-bind="$ctrl.dateBar.to.valueOf() - $ctrl.dateBar.from.valueOf() | maDuration:'humanize'"></span></div>

    <md-radio-group ng-model="$ctrl.allPoints" ng-change="$ctrl.saveSettings()">
      <md-radio-button ng-value="false"><span ma-tr="ui.app.downloadDataForCheckedPoints"></span></md-radio-button>
      <md-radio-button ng-value="true"><span ma-tr="ui.app.downloadDataForAllPoints"></span></md-radio-button>
    </md-radio-group>
    
    <md-input-container>
        <label ma-tr="ui.app.rollupType"></label>
        <md-select name="rollupType" ng-model="$ctrl.rollupType" ng-change="$ctrl.saveSettings()">
          <md-option ng-repeat="t in $ctrl.rollupTypes track by t.type" ng-value="t.type" ng-if="::t.type !== 'POINT_DEFAULT'">
            <span ma-tr="{{::t.translation}}"></span>
          </md-option>
        </md-select>
    </md-input-container>
    
    <md-checkbox ng-model="$ctrl.customTimeFormat" ng-change="$ctrl.customTimeFormatChanged(); $ctrl.saveSettings()">
        <span ma-tr="ui.app.customTimeFormat"></span>
    </md-checkbox>
    
    <md-input-container ng-if="$ctrl.customTimeFormat">
        <label ma-tr="ui.app.timeFormat"></label>
        <input name="timeFormat" ng-model="$ctrl.timeFormat" ng-change="$ctrl.saveSettings()">
    </md-input-container>
    
    <md-input-container ng-if="!$ctrl.customTimeFormat">
        <label ma-tr="ui.app.timeFormat"></label>
        <md-select name="timeFormat" ng-model="$ctrl.timeFormat" ng-change="$ctrl.saveSettings()">
          <md-option ng-repeat="format in $ctrl.timeFormats track by format.format" ng-value="format.format">
          	<span ma-tr="{{::format.translation}}"></span>
          </md-option>
        </md-select>
    </md-input-container>
    
    <md-input-container>
        <label ma-tr="ui.app.timezone"></label>
        <md-select name="timezone" ng-model="$ctrl.timezone" ng-change="$ctrl.saveSettings()">
          <md-option ng-repeat="zone in $ctrl.timezones track by zone.id" ng-value="zone">
            <span><span ma-tr="{{::zone.translation}}"></span> (<em ng-bind="zone.value"></em>)</span>
          </md-option>
        </md-select>
    </md-input-container>
    
    <md-button class="md-raised" ng-click="$ctrl.downloadData('CSV')" ng-disabled="$ctrl.downloadStatus.downloading">
      <md-icon>file_download</md-icon> <span ma-tr="ui.app.csv"></span>
    </md-button>
    <md-button class="md-raised" ng-click="$ctrl.downloadData('CSV_COMBINED')" ng-disabled="$ctrl.downloadStatus.downloading">
      <md-icon>file_download</md-icon> <span ma-tr="ui.app.csvCombined"></span>
    </md-button>
      <md-button class="md-raised" ng-click="$ctrl.downloadData('JSON')" ng-disabled="$ctrl.downloadStatus.downloading">
    <md-icon>file_download</md-icon> <span ma-tr="ui.app.json"></span>
    </md-button>
    <md-button class="md-raised" ng-click="$ctrl.downloadData('JSON_COMBINED')" ng-disabled="$ctrl.downloadStatus.downloading">
      <md-icon>file_download</md-icon> <span ma-tr="ui.app.jsonCombined"></span>
    </md-button>
    
    <div ng-if="$ctrl.downloadStatus.downloading" layout="column">
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      <md-button class="md-raised md-warn" ng-click="$ctrl.cancelDownload()">
        <md-icon>cancel</md-icon> <span ma-tr="common.cancel"></span>
      </md-button>
    </div>
    
    <p class="ma-error-text" ng-if="$ctrl.downloadStatus.error" ma-tr="ui.app.errorDownloadingFile" ma-tr-args="[$ctrl.downloadStatus.error]"></p>
  </md-dialog-content>
</md-dialog>