<div><span ng-if="::$ctrl.maUiServerInfo.postLoginData.coreNormalVersion"
           ma-tr="ui.app.poweredBy"
           ma-tr-args="::[['ftl.htmlFooter.mango'], $ctrl.maUiServerInfo.postLoginData.coreNormalVersion]"></span>
  &copy;<span ng-bind="::$ctrl.year"></span>
  <a ng-href="{{::$ctrl.maUiServerInfo.postLoginData.vendorUrl}}" target="_blank" rel="noopener"
     ng-bind="::$ctrl.maUiServerInfo.postLoginData.vendor"></a>
<span ma-tr="footer.rightsReserved"></span>.
<a ma-tr="ui.app.downloadEulaShort" ng-href="{{$ctrl.eulaPdf}}" target="_blank"></a>.
</div>
<div flex></div>
<em md-colors="::{color: 'warn'}"
    ng-if="::$ctrl.maUiServerInfo.postLoginData && !$ctrl.maUiServerInfo.postLoginData.coreLicenseType"
    ma-tr="footer.coreUnlicenced"></em>
